.ag-gm .ag-root {
  color: black;
  background-color: white;
  margin: 10px;
}
.ag-gm .ag-cell {
  padding: 4px;
  border-right: 1px solid #EFEFEF;
  &:last-child {
    border-right: none;
  }
}
.ag-gm .ag-header-container {
  background-color: white;
  border-bottom: 1px solid #C9C9C9;
}
.ag-gm .ag-pinned-header {
  background-color: #D9D9D9;
  border-bottom: 1px solid #C9C9C9;
}
.ag-gm .ag-header-cell {
  color: gray;
  font-style: italic;
  border-right: 1px solid #EFEFEF;
  &:last-child {
    border-right: none;
  }
}
.ag-gm .ag-header-cell-label {
  padding: 4px 2px;
}
.ag-gm .ag-header-cell-text {
  padding: 2px;
}
.ag-gm .ag-header-group-cell-label {
  padding: 4px;
}
.ag-gm .ag-header-group-cell {
}
.ag-gm .ag-header-group-text {
  margin-right: 2px;
}
.ag-gm .ag-header-group-cell-with-group {
  border-bottom: 1px solid blue;
}
.ag-gm .ag-header-cell-menu-button {
  padding: 2px;
  margin-top: 4px;
  border: 1px solid transparent;
  border-radius: 3px;
  box-sizing: content-box;
}

.ag-gm .ag-header-cell-menu-button:hover {
  border: 1px solid blue;
}
.ag-gm .ag-header-icon {
  stroke: #4F4F4F;
  fill: #4F4F4F;
}
.ag-gm .ag-header-expand-icon:hover {
  cursor: pointer;
}
.ag-gm .ag-row-odd {
  background-color: white;
}
.ag-gm .ag-row-even {
  background-color: white;
}
.ag-gm .ag-overlay-loading-wrapper {
  background-color: rgba(255,255,255,0.5);
}
.ag-gm .ag-overlay-loading-center {
  background-color: #fff;
  border: 1px solid #a9a9a9;
  border-radius: 10px;
  padding: 10px;
  color: #000;
}
.ag-gm .ag-body {
  background-color: white;

}
.ag-gm .ag-row-selected {
  background-color: #000;
}
.ag-gm .ag-group-cell-entire-row {
  background-image: linear-gradient(to bottom, white(0),black(0.05));
  font-size: 18px;
  border-bottom: 1px solid black(0.1);
  color: 222;
  padding: 4px;
}
.ag-gm .ag-footer-cell-entire-row {
  background-color: #aaa;
  color: 222;
  padding: 4px;
}
.ag-gm .ag-group-cell {
  font-style: italic;
}
.ag-gm .ag-group-expand {
  padding-right: 2px;
}
.ag-gm .ag-footer-cell {
  font-style: italic;
}
.ag-gm .ag-filter {
  color: #000;
}
.ag-gm .ag-filter-checkbox {
  position: relative;
  top: 2px;
  left: 2px;
}
.ag-gm .ag-filter-header-container {
  border-bottom: 1px solid #d3d3d3;
}
.ag-gm .ag-filter-header-container {
  border-bottom: 1px solid #d3d3d3;
}
.ag-gm .ag-filter-apply-panel {
  border-top: 1px solid #d3d3d3;
  padding: 2px;
}
.ag-gm .ag-filter {
  border: 1px solid #000;
  background-color: #f0f0f0;
}
.ag-gm .ag-selection-checkbox {
  margin-left: 4px;
}
.ag-gm .ag-paging-panel {
  color: #000;
  padding: 4px;
}
.ag-gm .ag-paging-button {
  margin-left: 4px;
  margin-right: 4px;
}
.ag-gm .ag-paging-row-summary-panel {
  display: inline-block;
  width: 300px;
}
.ag-gm .ag-column-not-visible {
  opacity: 0.75;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
  filter: alpha(opacity=75);
  font-style: italic;
}
.ag-gm .ag-not-dragging {
  border: 1px solid transparent;
}
.ag-gm .ag-drop-target-above {
  border-top: 5px solid #a9a9a9;
}
.ag-gm .ag-drop-target-below {
  border-bottom: 5px solid #a9a9a9;
}
.ag-gm .ag-dragging {
  border: 1px dotted #a9a9a9;
}
.ag-gm .ag-list-item-selected {
  color: #f0f0f0;
}
.ag-gm .ag-list-item-not-selected {
  font-style: italic;
  color: #a0a0a0;
}
.ag-gm .ag-tool-panel-container {
  background-color: #eee;
  box-sizing: border-box;
  border: 1px solid #a9a9a9;
  padding: 4px;
}
.ag-gm .ag-list-selection {
  background-color: #fff;
  border: 1px solid #a9a9a9;
  box-sizing: border-box;
}
.ag-gm .ag-visible-icons {
  padding-left: 2px;
  padding-right: 2px;
}
