@import '_reset';
@import '../../../sesalab-home/source/styles/mixins.scss';
$light     : #fff !default;
$stable    : #f8f8f8 !default;
$positive  : #82ACF3 !default;
$calm      : #85DCD8 !default;
$balanced  : #A7CC68 !default;
$energized : #FFB400 !default;
$assertive : #CB5B5E !default;
$royal     : #B5A2F1 !default;
$dark      : #444 !default;

@import '_gm';
@import '_form';
@import '_buttons';
@import '_grid';

$ionicons-font-path: '~ionicons-npm/fonts';
@import '~ionicons-npm/scss/ionicons';
$roboto-font-path: "~roboto-fontface/fonts";
@import "~roboto-fontface/css/roboto/sass/roboto-fontface";
/* Noto Emoji en fallback pour les emoji utf8 */
@import "~@fontsource/noto-emoji/400.css";

* {
  font-family: Roboto, sans-serif, 'Noto Emoji';
}
@import '_header.scss';

.fake-overlay {
  position: absolute;
  @include fill-all;
  background-color: #ECECEC;
}
.fake-popup {
  position: fixed;
  border: 1px solid #C7C7C7;
  border-top: 4px solid orange;
  border-radius: 4px;
  box-shadow: 0 0 10px black(0.36);
  background-color: white;
  width: 400px;
  min-height: 200px;
  font-size: 14px;
  overflow: hidden;
  padding: 10px;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  display: flex;
  p {
    padding: 10px 0;
    line-height: 140%;
  }

  .content {
    position: relative;
    margin: auto;
    text-align: center;

    b {
      color: #393939;
      font-weight: 600;
    }

    a {
      text-decoration: underline;

      .button {
        appearance: button;

        text-decoration: none;
        color: initial;
        margin-top: 30px;
      }
    }
  }
}

.tooltip {
  position: relative;
  margin: 10px auto 10px auto;
}

.tooltip:before {
  text-align: center;
  border: 1px rgba(0, 0, 0, 0.1) solid;
  opacity: 0;
  color: white;
  border-radius: 10px;
  position: absolute;
  width: 300px;
  padding: 10px;
  display: block;
  z-index: 50;
  content: attr(data-tooltip-texte);
  background: black;
  transition: opacity .250s ease-in-out;
  pointer-events: none;
}

.tooltip-bottom-left:before {
  top: 20px;
  left: -310px;
}

.tooltip-top:before {
  top: -70px;
  left: -105px;
}

.tooltip-center:before {
  top: -30px;
  left: -150px;
}

.tooltip-left:before {
  top: 0px;
  left: -310px;
}

.tooltip-right:before {
  top: 0px;
  left: 25px;
}

.tooltip:hover img {
  transition: transform 0.1s linear;
}
.tooltip:hover img {
  transform: scale(1.1, 1.1);
}

.tooltip:hover:before {
  opacity: 0.7;
}

@media print {
  .unprintable {
    display: none !important;
  }
}
