<div class="tree" ng-class="{open: root.$open, leaf: root.$leaf}">
  <img ng-if="root.type!=='arbre'" ng-src="/formateur/icons/ressources/{{root.type}}.gif">
  <div class="label" ng-click="doToggle()">{{root.titre}}</div>
  <recursive class="children">
    <ressource-tree ng-if="root.$open" ng-repeat="arbre in root.$enfants"  root="arbre"></ressource-tree>
  </recursive>
</div>
