@import "../../../../../../sesalab-home/source/styles/mixins.scss";

$headerHeight: 46px;
$sidebarWidth: 300px;
$separatorWidth: 10px;

.sl-seances {
  left: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  width: $sidebarWidth;
  background-image: linear-gradient(to bottom right, rgba(#F1EDE4,0.2), white(0));
  display: flex;
  flex-direction: column;
  overflow: auto;

  .btn-terminer {
    display: block;
    margin: 10px auto;
    border: 1px dashed #FF7575;
    background-color: #FFE5E5;
    color: #FF6666;
    padding: 7px 30px;
    cursor: pointer;

    &:hover {
      background-color: #FFCCCC;
      border: 1px solid red;
    }
  }
  .btn-closedBilan {
    margin: auto;
  }
  >.message {
    background-color: #F9F7B1;
    border: 1px solid black(0.1);
    border-left: none;
    border-right: none;
    margin: 4px 0 0 0;
    padding: 4px 10px;
    font-style: italic;
  }
  >.error {
    background-color: #E7BCBC;
    border: 1px solid black(0.1);
    border-left: none;
    border-right: none;
    margin: 4px 0 0 0;
    padding: 4px 10px;
    font-style: italic;
  }
  h2 {
    padding: 10px 0 5px 10px;
    color: #292929;
    font-size: 17px;
    font-weight: 300;
    border-bottom: 1px solid black(0.1);
    color: gray;
    b {
      color: #393939;
      font-weight: 600;
    }
  }
}

.sl-header {
  padding: 0;
  background-image: linear-gradient(to bottom, #FFFFFF 0%, #E5E5FF 100%);
  background-clip: padding-box;
  border-bottom: 5px solid #FCA95D;
  box-shadow: #E16400 0px -1px inset;
  line-height: $headerHeight;
  height: ($headerHeight + 4px);
  font-size: 22px;
  color: #252525;
  display: flex;
  .button-icon:before {
    color: #252525;
  }
  .version {
    font-size: 10px;
    color: #252525;
    padding-left: 5px;
    margin-top: 7px;

    a:hover {
      cursor: pointer;
      font-weight: bold;
    }
  }
  .title {
    font-weight: 500;
  }
  .app {
    flex: 1;
    align-items: center;
    display: flex;
  }
  .info {
    line-height: ($headerHeight - 5px);
    font-size: 13px;
    margin: 0 10px 0 0;
    .utilisateur {
      &:after {
        content: ' / ';
      }
      &:last-child {
        &:after {
          content: '';
        }
      }
    }

    a {
      float: right;
      cursor: pointer;
      margin-top: 13px;
      margin-left: 10px;
      i {
        font-size: 18px;
      }
    }
  }
  .tools {
    a {
      line-height: ($headerHeight - 5px);
      color: #252525;
      cursor: pointer;
    }
  }

  nav {
    font-size: 15px;
    margin-top: 5px;
    margin-bottom: 9px;

    ul {
      list-style-type: none;

      li {
        position: relative;
        cursor: pointer;
        display: inline-block;
        padding: 8px 10px;
        border-radius: 8px;
        margin: 2px 4px;
        border: 1px solid hsla(240, 100%, 92%, 1);
        background-color: hsla(240, 100%, 97%, 1);
        color: #424242;

        &:hover {
          font-weight: bold;
          background-color: hsla(240, 100%, 95%, 1);

          .details {
            display: block;
          }
        }

        &.separator {
          padding: 0;
          border: 0;
        }

        &.students {
          background-color: transparent;
          border: 0;
          font-size: 10pt;
          padding: 0;
        }
      }

      .help {
        cursor: help;
      }
    }
  }
}

#home {
  min-width: 700px; /* pour être sûr que le header reste sur une ligne */
  #wrapper {
    position: absolute;
    top: ($headerHeight + 4px);
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;

    .resizer {
      top: 0;
      bottom: 0;
      left: $sidebarWidth;
      position: absolute;
      width: $separatorWidth;
      background-color: hsl(0, 0%, 92%);
      cursor: col-resize;

      a {
        position: relative;
        top: 50%;
        /* on met un triangle 3× plus gros qui déborde un peu de chaque coté */
        z-index: 100;
        cursor: col-resize;
        left: -($separatorWidth * 2);
        i {
          display: inline-block;
          border-radius: 50%;
          background-color: hsla(0, 0%, 85%, 0.5);
          font-size: $separatorWidth * 5;
          text-align: center;
          width: $separatorWidth * 5;
          height: $separatorWidth * 5;
        }
      }
    }

    .content {
      left: $sidebarWidth + $separatorWidth;
      right: 0;
      top: 0;
      bottom: 0;
      position: absolute;
      min-width: 300px;

      .default {
        background-color: #d9edf7;
        border: 1px solid #bce8f1;
        border-radius: 4px;
        color: #31708f;
        font-size: 16px;
        margin: 10px;
        padding: 15px;
      }

      .error {
        background-color: #F9F7B1;
        border: 1px solid rgba(0, 0, 0, 0.1);
        margin: 4px 0 0 0;
        padding: 4px 10px;
        font-style: italic;
        margin: 10px;
        font-weight: bold;
        padding: 10px;
      }
    }
  }
}

span.remarque {
  font-size: 0.8em;
}

.title-tools {
  float: right;
  cursor: pointer;
  margin-right: 10px;
  font-size: 20px;
}

.disabled {
  color: #B7B7B7;
}

.sl-arbres {
  flex: 1;

  >.error {
    background-color: #E7BCBC;
    border: 1px solid black(0.1);
    border-left: none;
    border-right: none;
    margin: 4px 0 0 0;
    padding: 4px 10px;
    font-style: italic;
  }

  .tree {
    margin-left:8px;
    .label {
      cursor: pointer;
      font-size: 12px;
      line-height: 20px;
      color: #333333;
      font-weight: bold;
      white-space: nowrap;
      &:before {
        font-family: ionicons;
        content: "\F217";
        color: #585858;
        font-size: 8px;
        padding-right: 4px;
      }
    }
    img {
      float: left;
      padding-right: 5px;
    }
    &.open > .label {
      &:before {
        content: "\f208";
        color: #B75903;
      }
    }
    &.leaf > .label {
      font-weight: normal;
      color: #383838;
      &:before {
        display: none;
      }
    }
    .children {
      margin-left: 0px;
      display: block;
    }
  }
}

.mathenpoche {
  img {
    width: 100px;
    margin-bottom: 20px;
  }
}

.uniq-eleve {
  font-size: 14px;
  b {
    color: #393939;
    font-weight: 600;
  }
}
