<div id="home">
  <div class="sl-header">
    <div class="app">
    <a href="/"><img src="/images/logoLabomep.png" title="{{applicationName}}" alt="{{applicationName}}"></a>
    <span class="version">{{version}}</span>
    <span class="version"><a href="/mentionsLegales" target="_blank">Mentions légales</a></span>
    </div>

    <nav>
      <ul>
        <li ng-if="utilisateurs.length === 1" ng-click="doAccount()">{{utilisateurs[0].prenom}} {{utilisateurs[0].nom}}</li>
        <li ng-if="utilisateurs.length > 1" class="students">
          {{splitUsers(utilisateurs)}}
        </li>
        <li class="separator">|</li>
        <li class="help" ng-click="doDisplayHelp()">Aide</li>
        <li ng-click="doLogout()">Quitter</li>
      </ul>
    </nav>
  </div>

  <div id="wrapper">
    <div class="sl-seances" ng-style="{width: seancesWidth + 'px'}" ng-show="showPanel">
      <div ng-repeat="formateur in formateurs">
        <h2 ng-if="formateurs.length > 1">Les séquences de <b>{{formateur.label}}</b></h2>
        <h2 ng-if="formateurs.length === 1">Séquences</h2>
        <div ng-repeat="seance in formateur.seances">
          <sl-seance seance="seance" open="openedSeance && openedSeance.sequenceOid === seance.sequenceOid" on-open="openSeance(seance)"></sl-seance>
          <button
            class="btn-terminer"
            ng-if="openedSeance === seance && exerciceInSequenceRunning"
            ng-click="terminerSeance()"
          >Abandonner la séquence</button>
        </div>
      </div>
      <div class="message" ng-if="seancesState == STATE.LOADING">
        Récupération des séquences en cours …
      </div>
      <div class="error" ng-if="seancesState == STATE.ERROR">
        Impossible de récupérer la liste des séquences pour le moment
      </div>
      <div class="message" ng-if="!hasFormateur && seancesState == STATE.LOADING">
        Désolé, aucune séquence n'est disponible
      </div>
      <div class="btn-closedBilan">
        <button ng-if="!exerciceInSequenceRunning && hasInactiveSeance" ng-click="doShowClosedBilan()">
          Bilan des séquences fermées
        </button>
      </div>
      <h2 ng-if="!structure.bloquerExerciceAutonomie">
        <!-- La fonction au clic ci-dessous ne sert qu'à afficher une information si les exercices en autonomie sont bloqués -->
        <span ng-click="doShowExerciceAutonomie(!exerciceInSequenceRunning)">
          Travail en autonomie
        </span>
        <a
          class="bilan"
          ng-if="!exerciceInSequenceRunning"
          ng-click="doShowBilan()"
        >
          <i class="ion ion-stats-bars title-tools"></i>
        </a>
      </h2>
      <div class="sl-arbres" ng-if="!structure.bloquerExerciceAutonomie && !exerciceInSequenceRunning">
        <ressource-tree ng-repeat="arbre in arbres" root="arbre"></ressource-tree>
        <div class="message" ng-if="autonomyState == STATE.LOADING">
          Récupération des exercices en cours …
        </div>
        <div class="error" ng-if="autonomyState == STATE.ERROR">
          Impossible de récupérer la liste des exercices en autonomie pour le moment
        </div>
      </div>

      <a
        class="mathenpoche tooltip tooltip-top"
        href="https://mathenpoche.sesamath.net/"
        target="_blank"
        data-tooltip-texte="Pour travailler en autonomie, tu peux aussi utiliser le site Mathenpoche. Tes résultats ne seront alors pas consultables par tes professeurs"
      >
        <img src="/eleve/images/mathenpoche.png">
      </a>
    </div>

    <div class="resizer" ng-style="{left: resizerPosition + 'px'}" ng-mouseup="mouseup($event)" ng-mousedown="mousedown($event)">
        <a ng-mouseup="mouseup($event)" ng-mousedown="mousedown($event)">
          <i class="ion ion-arrow-left-b" ng-if="showPanel"></i>
          <i class="ion ion-arrow-right-b" ng-if="!showPanel"></i>
        </a>
    </div>

    <div class="content" ng-style="{left: contentLeft + 'px'}">
      <div class="default" ng-if="openedView === VIEWS.DEFAULT">
        <p>Choisis une activité dans le menu de gauche</p>
        <p><span class="remarque"><strong>Attention</strong>, le message "Résultat sauvegardé"
          doit s’afficher à chaque réponse envoyée pour les exercices de type
          <img src="/eleve/images/ressources/em.gif" alt="exercice interactif en flash" />,
          ou à la fin de chaque série de questions d’un exercice de type
          <img src="/eleve/images/ressources/j3p.gif" alt="exercice interactif j3p" /> (au clic sur "Section suivante").<br>
          Si ce n'est pas le cas il n'a pas été sauvegardé (le signaler à ton professeur,
          tu peux prendre une capture d'écran pour lui montrer).</span></p>
        <p>En cas de problème consulte l'aide <span class="remarque">(bouton en haut à droite) ou bien</span> <a href="http://labohelp.nsi.xyz/" target="_blank">labohelp</a> <span class="remarque">(site indépendant de l'association Sésamath créé par Vincent Robert et Kevin Fedyna)</span>.
      </div>
      <!-- on utilise ng-show car le controller de sl-exercice doit rester "chargé" pour
           recevoir les événements de début d'exercice -->
      <sl-exercice ng-show="openedView === VIEWS.EXERCICE" save="true"></sl-exercice>
      <!-- on affiche le bilan seulement s'il n'y a pas d'exercice en cours sauf si c'est un exercice en autonomie -->
      <sl-bilan ng-show="openedView === VIEWS.BILAN" seance="bilan" user="user"></sl-bilan>
      <sl-closed-bilan ng-show="openedView === VIEWS.CLOSEDBILAN" inactives="seances.inactives"></sl-closed-bilan>
      <sl-account ng-if="openedView === VIEWS.ACCOUNT"></sl-account>
    </div>
  </div>
</div>
