.button {
  @include gmButton;
  &.button-full {
    width: calc(100% - 16px);
    /*border-radius: 0;*/
    text-align: center;
    /*border: none;*/
    /*box-shadow: none;*/
    /*border-bottom: 1px solid black(0.2);*/
    /*&:last-child {*/
      /*border: none;*/
    /*}*/
  }
}

.button-icon {
  box-shadow: none;
  span { display: none }
  background-image: none;
  background-color: transparent;
  height: 40px;
  width: 40px;
  max-height: 40px;
  max-width: 40px;
  padding: 0;
  margin: 0;
  text-align:center;
  border-radius: 50%;
  transition: background-color 200ms ease;
  &:before {
    line-height: 40px;
    font-size: 30px;
  }
  &.button.active,
  &.button.activated {
    opacity: 1;
    background-color:black(0.15);
    box-shadow: none;
    &:before {
      color: white;
    }
  }
  .item-reorder &.button.activated, .item-reorder &.button.active {
    background-color: transparent;
    box-shadow: none;
    &:before {
      color: black;
    }
  }
  &.pushed {
    background-color:black(0.1);
    &:before {
      color: orange;
    }
  }

  &.ion-edit:before {
    font-size: 22px;
  }
  &.ion-plus:before {
    font-size: 22px;
  }
  &.ion-wand:before {
    font-size: 28px;
    margin-top:0;
  }
  &.ion-paper-airplane:before {
    font-size: 22px;
    margin-top:0;
  }
  &.ion-arrow-resize {
    &:before {
      transform: rotate(-45deg);
      font-size: 26px;
    }
  }

  &.fab {
    background-color: #2196F3;
    border-radius: 50%;
    $size : 40px;
    width: $size;
    height: $size;
    max-width: $size;
    max-height: $size;
    min-height: $size;
    line-height: $size;
    display: inline-block;
    box-shadow: 0 0 10px black(0.46);
    &:before {
      font-size: $size / 2;
      height: $size;
      line-height: $size;
      color: white;
      margin: 0 !important;
    }
    &.activated {
      background-color: #578BBF;
    }
  }
}

.button-block {
  margin: 10px;
  min-height: 40px;
  line-height: 40px;
}

.button-small {
  padding: 0 10px;
  min-width: 28px;
  min-height: 25px;
  height: 25px;
  font-size: 12px;
  line-height: 25px;
}

.button-bar {
  padding: 5px 10px;
  justify-content: flex-end;
  display: block;
  text-align: right;
  >.button {
    @include gmButton;
    width: auto;
    display: inline-block;
    flex: inherit;
    font-size: 14px;
    line-height: 25px;
    &:first-child { margin-left: 0 }
    &:last-child { margin-right: 0 }
    &.button-small {
      padding: 0 8px;
      line-height: 24px;
      font-size: 13px;
      min-height: 24px;
    }
  }
}

.button-link {
  line-height: 32px;
  text-decoration: none;
  color: #106CC8;
  padding: 0 8px;
  font-weight: 500;
  font-size: 14px;
  text-transform:uppercase;
  display: inline-block;
  &.activated {
    background-color: #E4E4E4;
    border-radius: 3px;
  }
  &.button-assertive {
    color: #F44336;
  }
}

