form {
  .form-description {
    font-size: 14px;
    line-height: 140%;
    padding: 3px 10px;
    margin: 3px;
    coor: #292929;
    border-left: 3px solid #8FAD27;

  }
  .message {
    font-size: 14px;
    line-height: 140%;
    background-color: #FFEFEF;
    padding: 3px 10px;
    border-left: 3px solid #FF7800;

  }

  .form-row {
    display: flex;
    width: 100%;
    overflow: hidden;
    margin-bottom: 13px;
    >.form-item {
      margin: 0 3px;
      &:first-child { margin-left: 0 }
      &:last-child { margin-right: 0 }
    }
  }
  .button-icon {
    @include gmIconButton();
  }
  .buttons {
    text-align: right;
    .button {
      @include gmButton();
    }
  }
  .form-item {
    label {
      font-size: 14px;
      color: #6D9DD2;
      padding: 0 0 6px 0;
      display: block;
    }
    flex-grow: 1;
    flex-shrink: 1;
    margin: 10px 0;
    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }

    input[type=text], input[type=email], input[type=password] {
      @include gmInput;
      width: 100%;
    }
    &.error {
      .form-description {
        display: none;
      }
      .form-error {
        color: #DE3309;
        display: block;
        padding-top: 5px;
        font-size: 13px;
      }
      input[type=text], input[type=email], input[type=password], textarea, .form-wrapper {
        border-bottom: 2px solid #DE3309;
      }
    }
  }
}

.item-checkbox {
  &.item {
    border: none;
  }
}

