@import '_reset';
@import '../../../sesalab-home/source/styles/mixins.scss';
$light     : #fff !default;
$stable    : #f8f8f8 !default;
$positive  : #82ACF3 !default;
$calm      : #85DCD8 !default;
$balanced  : #A7CC68 !default;
$energized : #FFB400 !default;
$assertive : #CB5B5E !default;
$royal     : #B5A2F1 !default;
$dark      : #444 !default;

@import '_gm';
@import '_form';
@import '_buttons';
@import '_grid';

$roboto-font-path: "~roboto-fontface/fonts";
@import '~roboto-fontface/css/roboto/sass/roboto-fontface';
/* Noto Emoji en fallback pour les emoji utf8 */
@import "~@fontsource/noto-emoji/400.css";

* {
  font-family: Roboto, sans-serif, 'Noto Emoji';
}
