<div id="test-sequence">
  <div id="wrapper">
    <div class="sl-seances">
      <div ng-repeat="formateur in formateurs">
        <h2>Par {{formateur.prenom}} {{formateur.nom}}</h2>
        <sl-seance ng-repeat="seance in formateur.seances" seance="seance" open="true"></sl-seance>
      </div>
      <div class="message" ng-if="!formateurs">
        Désolé, aucune séquence n'est disponible
      </div>
    </div>

    <div class="content">
      <sl-exercice save="true"></sl-exercice>
    </div>
  </div>
</div>

