$headerHeight: 46px;
.sl-header {
  padding: 0;
  background-image: linear-gradient(to bottom, #FFFFFF 0%, #E5E5FF 100%);
  background-clip: padding-box;
  border-bottom: 5px solid #FCA95D;
  box-shadow: #E16400 0px -1px inset;
  line-height: $headerHeight;
  height: ($headerHeight + 4px);
  z-index: 1;
  position: relative;
  font-size: 22px;
  color: #252525;
  .button-icon:before {
    color: #252525;
  }
  .version {
    font-size: 10px;
    color: #252525;
    padding: 20px 0 0 10px;
  }
  .app {
    flex: 1;
    align-items: center;
    display: flex;
    a {
      padding: 0;
      margin: 0;
      border: 0;
    }
    img {
      border: 0;
    }
  }
  .info {
    line-height: ($headerHeight - 5px);
    font-size: 13px;
    margin: 0 20px 0 0;
    .utilisateur {
      &:after {
        content: ' / ';
      }
      &:last-child {
        &:after {
          content: '';
        }
      }
    }
  }
  .tools {
    a {
      line-height: ($headerHeight - 5px);
      color: #252525;
      cursor: pointer;
    }
  }
  display: flex;
}
