$ionicons-font-path: '~ionicons-npm/fonts';
@import '~ionicons-npm/scss/ionicons';
$roboto-font-path: "~roboto-fontface/fonts";
@import "~roboto-fontface/css/roboto/sass/roboto-fontface";
/* Noto Emoji en fallback pour les emoji utf8 */
@import "~@fontsource/noto-emoji/400.css";

$laboBlue: #135894; // le bleu foncé du header de labomep1
$secondaryColor: #FCA95D; // orange du header
$linkColor: #1D65B3;
$titleColor: darken($laboBlue, 10%); // sinon trop proche des liens, déjà comme ça c'est moyen d'avoir des couleurs voisines…

/* styles valables partout (pas de #main coté formateur/qooxdoo ni élève/angular) */
h1, h2, h3, h4 {
  color: $titleColor;
}
.error {
  color: #a22;
}
.warning {
  color: #c60;
}

/* pour la home seulement */
#main {
  display: flex;
  flex-direction: column;
  font-size: 1.2em;
  max-width: 1200px;
  margin: 0 auto;

  h1 {
    font-size: 1.4em;
    margin: 15px 10% 1em 10%;
    padding: calc(3px + 0.5em) 2em 0.5em 2em;
    text-align: center;
    box-shadow: 0 0 6px darken($secondaryColor, 20%);
    border: 1px solid #ef740480;
  }
  h2 {
    font-size: 1.2em;
    margin: 1em 1em 0.5em 1em;
    padding-left: 2em;
  }

  /* On remet ça que reset a cassé, pour pas toucher aux scss angular */
  p, li {
    line-height: 130%;
  }
  p {
    margin: 0.5em 0.3em;
  }
  ol, ul, li {
    margin: 0.5em 0.5em 0.5em 1em;
  }
  li {
    list-style-type: disc;
    ul li {
      list-style-type: circle;
    }
  }
  strong {
    font-weight: bold;
  }
  a {
    color: $linkColor;
    cursor: pointer;
  }
  a:hover {
    text-decoration: underline;
  }
  .dialog-login {
    width: 80%;
    margin: 1em 30%;
    box-shadow: 0 0 10px rgba(black, 0.3);
    padding: 16px;
  }

}
.bloc {
  padding: 1em;
  width: 80%;
  max-width: 1200px;
  margin: 1em auto;
  box-shadow: 0 0 5px rgba(black, 0.3);
  &.error {
    box-shadow: 0 0 5px #911;
  }
}
