@mixin fill-all {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right:0;
}

@mixin text-wrap {
  display: block;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
@mixin position($top:0,$right:0,$bottom:0,$left:0,$position:absolute) {
  display: block;
  position: $position;
  left: $left;
  top: $top;
  right: $right;
  bottom: $bottom;
}


@mixin clear {
  &:after {
    content: '';
    display: block;
    clear: both;
  }
}

@function black($opacity:0.8) {
  @return rgba(black, $opacity);
}

@function white($opacity:0.8) {
  @return rgba(white, $opacity);
}

@mixin animate($name,$time,$ease:ease-in) {
  animation-name: $name;
  animation-iteration-count: 1;
  animation-timing-function: $ease;
  animation-fill-mode: forwards;
  animation-duration: $time;
}

$break-phone   : 480px;
$break-tablet  : 770px;
$break-desktop : 992px;
$break-large   : 1200px;

@mixin on($media) {
       @if $media == phone      { @media only screen and (max-width: $break-phone)                                { @content; } }
  @else if $media == tablet     { @media only screen and (min-width: $break-phone) and (max-width: $break-tablet) { @content; } }
  @else if $media == desktop    { @media only screen and (min-width: $break-tablet)                               { @content; } }

  @else if $media == portrait   { @media all and (orientation:portrait)  { @content; } }
  @else if $media == landscape  { @media all and (orientation:landscape) { @content; } }
  @else if $media == ios        {  .platform-ios.platform-cordova:not(.fullscreen) & { @content; } }
  @else if $media == android    {  .platform-android.platform-cordova:not(.fullscreen) & { @content; } }
}
