/*
 * This file is part of "artools".
 *    Copyright 2009-2011, arNuméral
 *    Author : Yoran Brault
 *    eMail  : yoran.brault@bad_arnumeral.fr (remove bad_ before sending an email)
 *    Site   : http://www.arnumeral.fr
 *    Credits: http://meyerweb.com/eric/tools/css/reset/
 *    Credits: http://www.positioniseverything.net/easyclearing.html
 *
 * "artools" is free software; you can redistribute it and/or
 * modify it under the terms of the GNU General Public License as
 * published by the Free Software Foundation; either version 2.1 of
 * the License, or (at your option) any later version.
 *
 * "artools" is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
 * General Public License for more details.
 *
 * You should have received a copy of the GNU General Public
 * License along with "artools"; if not, write to the Free
 * Software Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA
 * 02110-1301 USA, or see the FSF site: http://www.fsf.org.
 */

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,
address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,
b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,
tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,
nav,output,ruby,section,summary,time,mark,audio,video,ul,li {
  margin: 0;
  padding: 0;
  border: 0 none;
  font-style: inherit;
  font-variant: inherit;
  font-weight: inherit;
  font-size: inherit;
  font-size-adjust: inherit;
  font-stretch: inherit;
  -moz-font-feature-settings: inherit;
  -moz-font-language-override: inherit;
  vertical-align: baseline;
  line-height: 100% }

// HTML 5 pour ie6-9 et FF3
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
  display: block
}

audio,
canvas,
video {
    display: inline-block;
}
body { font: 12px/140% Verdana, Helvetica, sans-serif; }
ol,ul,li { list-style: none outside none }
blockquote,q { quotes: none; }
blockquote:before,blockquote:after,q:before,q:after { }
table { border-collapse: collapse; border-spacing: 0; }
a { text-decoration: none; color: black; }
* { outline: none; }

/* Un truc ajouté je ne sais pka par D7. */
.element-invisible { display:none !important}

*,*:after,*:before {
  box-sizing:border-box;
}

:focus {
  outline:0;
}

