@import '_reset';
@import '_mixins';

$light     : #fff !default;
$stable    : #f8f8f8 !default;
$positive  : #82ACF3 !default;
$calm      : #85DCD8 !default;
$balanced  : #A7CC68 !default;
$energized : #FFB400 !default;
$assertive : #CB5B5E !default;
$royal     : #B5A2F1 !default;
$dark      : #444 !default;

$error     : #D8000C;
$warning   : #d8710c;

* {
  font-family: Roboto, sans-serif, 'Noto Emoji';
}

@import '_header.scss';
@import '_home.scss';

.warning {
  color: $warning;
}
p.warning, div.warning, ul.warning {
  border: 1px solid $warning;
  background-color: rgba($warning, 0.2);
}
#main {
  .notification {
    width: 400px;
    height: 60px;
    position: absolute;
    left: 50%;
    margin-left: -200px;
    text-align: center;
    padding: 15px;
    z-index: 10;
    color: #00529B;
    border: 1px solid #00529B;
    background-color: #BDE5F8;
    opacity: 0;
    transition: background-color 0.2s linear, color 0.2s linear, opacity 0.2s ease-in;

    &.show {
      opacity: 1;
    }
    &.hide {
      opacity: 0;
    }
    &.success {
      color: #4F8A10;
      background-color: #DFF2BF;
      border: 1px solid #4F8A10;
    }
    &.error {
      color: #D8000C;
      background-color: #FFBABA;
      border: 1px solid #D8000C;
    }
  }

  section {
    margin: 35px auto;
    text-align: center;

    p {
      font-size: 1.1em;
      color: #333;
    }

    button {
      color: #333 !important;
      cursor: pointer;
      font-size: 10.5pt;
      margin: 10px auto;
      margin-left: 10px;
      padding: 8px 30px;
      background-color: #eee;
    }
  }

  .dialog-login {
    margin: 0 auto;
    h2 {
      padding-left: 0;
    }
    .dialog-box:first-child {
      border-right: 1px solid #ddd;
      padding-right: 30px;
      width: 50%;

      h2 {
        display: inline-block;
        padding: 0 20px 0 30px;
      }
    }
    .dialog-box:last-child {
      width: 50%;
      h2 {
        padding: 0;
      }
    }
    .dialog-box {
      float: left;
      padding-left: 20px;
      width: 50%;

      h2 {
        text-align: center;
      }
      .help {
        font-size: 15pt;
        float: right;
        z-index: 10;
        position: relative;
      }
      form {
        input {
          width: 100%;
          padding: 5px;
          border: 1px solid #aaa;
          margin: 5px 0;
        }
        .structure-drop-down {
          position: relative;
          bottom: 12px;
          right: 14px;
          width: 100%;
          background-color: white(0.9);
          border: 1px solid black(0.1);
          box-shadow: 0 0 3px black(0.36);
          max-height: 200px;
          overflow: auto;
          li {
            cursor: pointer;
            list-style-type: none;
            margin-left: 5px;
            padding: 4px;
            &:hover {
              background-color: #FCA95D;
            }
          }
          .code {
            margin-right: 5px;
          }
          .ville {
            float: right;
          }
        }
        a {
          font-size: 9pt;
          margin: 3px 0 12px;
          padding-top: 5px;
          text-decoration: underline;
        }
        .user {
          position: relative;
          .remove {
            display: inline-block;
            height: 20px;
            position: absolute;
            right: -25px;
            top: 27px;
            width: 20px;
            a {
              font-size: 20px;
            }
          }
        }
        .add {
          text-align: right;
          .button {
            margin-right: 5px;
          }
          .description {
            cursor: help;
            font-size: 12pt;
            text-decoration: none;
          }
          .description:hover:before {
            background-color: black;
            border: 1px rgba(0, 0, 0, 0.1) solid;
            border-radius: 10px;
            color: white;
            content: attr(data-description);
            display: block;
            font-size: 9pt;
            opacity: 0.7;
            padding: 10px;
            pointer-events: none;
            position: absolute;
            text-align: center;
            -webkit-transition: opacity .250s ease-in-out;
            transition: opacity .250s ease-in-out;
            width: 300px;
            z-index: 10;
          }
        }
        .actions {
          margin-top: 10px;
          text-align: right;
        }
        button {
          color: #333 !important;
          cursor: pointer;
          font-size: 10.5pt;
          margin: 10px auto;
          margin-left: 10px;
          padding: 8px 30px;
        }
      }
      .create {
        text-align: center;
        width: 100%;
      }
    }

    .form-error {
      color: #b33;
      display: block;
      padding-top: 3px;
      font-size: 14px;
    }

    .login-sesamath {
      text-align: center;
      width: 50%;

      a.button {
        text-decoration: none;
        color: #333 !important;
        font-size: 10.5pt;
        margin: 90px 28px;
        padding: 10px 30px;
        background: linear-gradient(to bottom, #e3e3e3 0%,#f7f7f7 100%);
        border: 1px solid #afafaf;
        display: block;

        &:hover {
          background: linear-gradient(to bottom, #e8e8e8 0%,#fcfcfc 100%);
        }

        &:focus {
          background: linear-gradient(to bottom, #cfcfcf 0%,#e8e8e8 100%);
        }
      }
    }
  }
}
