@import "../../../../../sesalab-home/source/styles/mixins.scss";

.sl-exercice {
  @include fill-all;

  .ecran {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    iframe {
      overflow: hidden;
      border: none;
      width: 100%;
      margin: 0 auto;
      display: block;
      height: 100%;
    }
  }
}
