<form>
  <div class="form-item" ng-class="{error: errors('structure')}">

    <div id="rgpdBloc">
      <input type="checkbox" ng-model="isRgpdChecked" id="rgpd">
      <label for="rgpd">
        J’ai pris connaissance des informations relatives à la
        <a href="{{urlRgpd}}" target="_blank"><strong>gestion des données personnelles</strong></a>
      </label>
    </div>

    <input type="text"
       ng-if="isRgpdChecked"
       ng-model="structure.label"
       name="structure"
       ng-class="{error: errors('structure')}"
       novalidate
       autocomplete="off"
       ng-change="onChange()"
       placeholder="Merci de choisir une structure"
       >
    <ul class="structure-drop-down" ng-if="structures.length">
      <li ng-repeat="structure in structures" ng-click="doSelectStructure(structure, user)">
        <span class="code">{{structure.code}}</span>
        <span class="nom">{{structure.nom}}</span>
        <span class="ville" ng-if="structure.ville">{{structure.ville}}</span>
      </li>
    </ul>

    <div class="form-error">{{errors('structure')}}</div>
  </div>

  <div class="message" ng-if="structureHasClasses===false && structureNom.length > 0">
    Impossible de créer un compte élève car il n'existe aucune classe dans {{structureNom}}.
  </div>

  <div class="message" ng-if="ajoutElevesAuthorises===false">
    Seuls les enseignants peuvent créer des comptes élèves pour
    {{structureNom}},
    demande à ton professeur de te communiquer les identifiants qu'il t'a créés.
  </div>

  <div
    class="form-item"
    ng-if="ajoutElevesAuthorises && structureHasClasses">
    <label>Veuillez choisir votre classe</label>
    <select
      ng-model="user.classe"
      ng-options="classe.nom for classe in classes track by classe.oid">
    </select>
  </div>

  <div
    class="form-item"
    ng-class="{error: errors('nom')}"
    ng-if="ajoutElevesAuthorises && structureHasClasses">
    <input type="text"
       ng-model="user.nom"
       name="nom"
       an-enter="doCreate()"
       ng-class="{error: errors('nom')}"
       novalidate
       placeholder="Votre nom"
       >
    <div class="form-error">{{errors('nom')}}</div>
  </div>

  <div class="form-item"
    ng-class="{error: errors('prenom')}"
    ng-if="ajoutElevesAuthorises && structureHasClasses">
    <input type="text"
       ng-model="user.prenom"
       name="prenom"
       an-enter="doCreate()"
       ng-class="{error: errors('prenom')}"
       novalidate
       placeholder="Votre prenom"
       >
    <div class="form-error">{{errors('prenom')}}</div>
  </div>

  <div
    class="form-item"
    ng-class="{error: errors('mail')}"
    ng-if="ajoutElevesAuthorises && structureHasClasses">
    <input type="text"
       ng-model="user.mail"
       name="mail"
       an-enter="doCreate()"
       ng-class="{error: errors('mail')}"
       novalidate
       placeholder="Votre mail"
       >
    <div class="form-error">{{errors('mail')}}</div>
    <div class="form-description">
      Cette adresse, si elle est fournie, sera utilisée pour permettre de
      réinitialiser un mot de passe oublié, ou pour envoyer l'identifiant oublié. Sinon il
      faudra demander à un enseignant de réinitialiser le mot de passe ou rappeler
      l'identifiant. Si l'adresse est fournie, tu seras également prévenu dès qu'un
      enseignant aura activé ton compte.
    </div>
  </div>

  <div
    class="form-item"
    ng-class="{error: errors('login')}"
    ng-if="ajoutElevesAuthorises && structureHasClasses">
    <input type="text"
       ng-model="user.login"
       name="login"
       an-enter="doCreate()"
       ng-class="{error: errors('login')}"
       novalidate
       placeholder="Votre identifiant"
       >
    <div class="form-error">{{errors('login')}}</div>
  </div>

  <div
    class="form-item"
    ng-class="{error: errors('password')}"
    ng-if="ajoutElevesAuthorises && structureHasClasses">

    <input type="password"
       ng-model="user.password"
       name="password"
       an-enter="doCreate()"
       ng-class="{error: errors('password')}"
       novalidate
       placeholder="Votre mot de passe"
       >
    <div class="form-error">{{errors('password')}}</div>
  </div>

  <div
    class="form-item"
    ng-class="{error: errors('passwordBis')}"
    ng-if="ajoutElevesAuthorises && structureHasClasses">
    <input type="password"
       ng-model="user.passwordBis"
       name="passwordBis"
       an-enter="doCreate()"
       ng-class="{error: errors('passwordBis')}"
       novalidate
       placeholder="Votre mot de passe une nouvelle fois"
       >
    <div class="form-error">{{errors('passwordBis')}}</div>
  </div>
</form>
