@import "../../../../../../sesalab-home/source/styles/mixins.scss";

#rgpdBloc {
  margin-bottom: 1em;
  vertical-align: middle;
  input {
    float: left;
  }
  label {
    display: block;
    line-height: 1.3em;
    margin: 1em;
  }
  strong {
    font-weight: bold;
    color: #f06900
  }
}
.structure-drop-down {
  position: absolute;
  left: 29px;
  right: 24px;
  background-color: white(0.9);
  border: 1px solid black(0.1);
  box-shadow: 0 0 3px black(0.36);
  max-height: 200px;
  overflow: auto;

  li {
    padding: 4px;
    cursor: pointer;
    &:hover {
      background-color: orange;
    }
  }

  .ville {
    float: right;
  }
}

.register .content {
  @include fill-all;
  top: 70px;
  bottom: 70px;
  overflow: auto;
}
