@import "../../../styles/_gm.scss";

.sl-bilan {
  .tabs { @include gmTabSelector }
  select { @include gmSelect; }
  .actions a { @include gmLinkButton}
  .filters {
    padding: 10px;
    display: flex;
    .filter {
      margin: 0 10px 0 0;
      label {
        font-weight: bold;
        padding: 0 5px 0 0;
      }
      select {
        width: 100px;
      }
    }
  }
  h2 {
    font-size: 22px;
    margin: 10px 0 25px 0;
    line-height: 24px;
    padding: 0 10px;
  }
  .eleve {
    .info {
      padding: 10px;
    }
    table {
      width: 100%;
      tr {
        border-bottom: 1px solid #EBE2F3;
        td {
          padding: 6px 6px;

          &.index {
            font-weight: bold;
          }
        }
        .titre a {
          color: #3D72C9;
        }
        .titre a:hover, .titre a:focus {
          color: #3D72C9;
          cursor: pointer;
        }
      }
      &.mode-table {
        text-align: center;
        th {
          font-weight: bold;
          background-color: #F4F4F4;
          padding: 10px 0;
          border-right: 1px solid black(0.1);
          border-bottom: 1px solid black(0.1);
          &:last-child{
            border: none;
          }
        }
        tr {
          border-bottom: none;
          td {
            border-right: 1px solid black(0.1);
            border-bottom: 1px solid black(0.1);
            &:last-child{
              border: none;
            }
            &.red {
              background-color: #D38E8E;
            }
            &.green {
              background-color: #7DCE7D;
            }
            &:first-child {
              background-color: #F4F4F4;
            }
          }
        }
      }
    }
  }
}
