<div class="sl-bilan">
  <h2>{{sequence.nom}}</h2>
  <div class="info">* signale le meilleur score de pour cet exercice</div>
  <div class="eleve">
    <table>
      <tr ng-repeat="ligne in lignesBilan">
        <td class="index">{{ligne.indexRessource}} <span ng-if="ligne.isBest">*</span></td>
        <td
          ng-if="ligne.hasMoreThanOneParticipant"
          class="tooltip tooltip-left"
          data-tooltip-texte="{{ligne.participants}}"
        >
          <i class="ion-ios-people" aria-hidden="true"></i>
        </td>
        <td
          ng-if="!ligne.hasMoreThanOneParticipant"
        >
        </td>
        <td class="titre">
          <span ng-if="autonomie"><a ng-click="linkToRessource(ligne)">{{ligne.title}}</a></span>
          <span ng-if="!autonomie">{{ligne.title}}</span>
        </td>
        </td>
        <td class="score" ng-bind-html="ligne.score"></td>
        <td class="reponse">
          <span raw-html="ligne.reponse"></span>
          <a class="button-link" ng-if="ligne.fullResponse" ng-click="doShowFullResponse(ligne)">Détail</a>
        </td>
        <td class="date">{{ligne.date}}</td>
        <td class="duree">{{ligne.duree}}</td>
        <td class="essai">{{ligne.essai}}</td>
      </tr>
    </table>
  </div>
</div>
