<!DOCTYPE html>
<html
   lang="fr" itemscope itemtype="http://schema.org/Article"
   ng-app="sesalab" ng-cloak ng-strict-di>
<head>
  <title><%= htmlWebpackPlugin.options.title %></title>
  <base href="/eleve/" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <script type="text/javascript">
    window.sesathequeBaseUrl = '<%= htmlWebpackPlugin.options.sesathequeBaseUrl %>'
  </script>
  <script type="text/javascript" src="app.js?<%= htmlWebpackPlugin.options.version %>"></script>

  <link type="text/css" rel="stylesheet" media="all" href="app.css?<%= htmlWebpackPlugin.options.version %>" />
  <link type="text/css" rel="stylesheet" media="all" href="style.css?<%= htmlWebpackPlugin.options.version %>" />
</head>
<body>
  <div class="content" ui-view></div>
  <toaster-container></toaster-container>
</body>
</html>
