.toast-message {
  word-wrap: break-word;
}

#toast-container {
  position: fixed;
  top: 0;
  z-index: 999999;
  width: 100%;
  pointer-events: none;
  > div {
    width: 300px;
    margin: 0 auto 0 auto;
    border: 1px solid black(0.2);
    border-top: none;
    border-radius: 0 0 6px 6px;
    box-shadow: 0 0 10px black(0.3);
    overflow: hidden;

    &.ng-enter {
      transition: opacity 1s ease, transform 1s ease;
      transform: translate3d(0, -1000px, 0);
      opacity: 0;
    }

    &.ng-enter.ng-enter-active {
      transform: translate3d(0, 0, 0);
      opacity: 1;
    }

    &.ng-leave {
      transition: opacity 1s ease, transform 1s ease;
      opacity: 1;
    }

    &.ng-leave.ng-leave-active {
      transform: translate3d(0, -1000px, 0);
      opacity: 0;
    }

    .toast {
      $opacity:0.9;
      background-color: rgba(#E2E2E2, $opacity);
      pointer-events: auto;
      border-bottom: none;
      font-size: 16px;
      color: black;
      z-index: 2;
      position: relative;
      border-top: 1px solid white(0.2);
      border-bottom: 1px solid black(0.2);
      &.error {
        background-color: rgba(#E7BCBC, $opacity);
      }
      &.warning {
        background-color: rgba(#FAE5A7, $opacity);
      }
      /*&.ng-enter {*/
      /*transition: opacity 1s ease, transform 1s ease;*/
        /*transform: translate3d(-1000px, 0, 0);*/
        /*opacity: 0;*/
      /*}*/

      /*&.ng-enter.ng-enter-active {*/
        /*transform: translate3d(0, 0, 0);*/
        /*opacity: 1;*/
      /*}*/

      /*&.ng-leave {*/
      /*transition: opacity 1s ease, transform 1s ease;*/
        /*opacity: 1;*/
      /*}*/

      /*&.ng-leave.ng-leave-active {*/
        /*transform: translate3d(1000px, 0, 0);*/
        /*opacity: 0;*/
      /*}*/


      .body {
        &:after {
          content: '';
          clear: both;
          display: block;
        }
        padding: 15px;
      }
      &:first-child {
        border-top: none;
      }
      &:last-child {
        border-bottom: none;
      }
    }
  }
}

