<div id="toast-container">
  <div ng-if="toasts.length" ng-animate="'animate'">
    <div
      class="toast"
      ng-class="toast.type"
      ng-repeat="toast in toasts"
      ng-click="click(toast)"
      ng-mouseover="stopTimer(toast)"
      ng-mouseout="restartTimer(toast)">
      <div class="message">
        <div class="body" ng-bind-html="toast.body"></div>
      </div>
    </div>
  </div>
</div>

