.sl-account {
    padding: 10px;

    form {
        .form-group {
            padding: 10px 20px;
        }

        .form-item {
            input {
                border: 1px solid #e6e7e8;
                padding: 15px 10px;
                background-color: #f3f4f7;
                font-size: 14px;

                &:focus {
                    padding: 15px 10px;
                    border: 1px solid #e6e7e8;
                }
            }


            input[type="text"]:disabled {
                cursor: not-allowed;
                color: #999;
                background-color: hsla(225, 20%, 90%, 1);
                border: 1px solid hsla(210, 4%, 80%, 1);
            }

            label {
                color: #333;
                display: inline;
            }
        }
    }

    h2 {
        margin: 20px 0px 10px 20px;
        font-size: 13pt;
        font-weight: bold;
        color: #444;
    }

    h3 {
        color: #555557;
        font-size: 14px;
    }

    hr {
        background-color: #cccccc;
        margin-top: 20px;
        margin-bottom: 5px;
        border: 0;
        height: 1px;
        width: 100%;
    }

    .buttons {
        text-align: center;
    }

    p {
        margin-bottom: 15px;

        &.warning {
            font-size: 9.7pt;
            line-height: 1.7;
        }
    }

    .info-success {
        border: 1px solid #00E639;
        background-color: #E5FFEC;
        color: #555;
        padding: 10px;
        margin: 20px;
    }

    .form-error {
        color: red;
        padding-top: 5px;
    }

    .button.button-small {
        margin: 20px auto;
    }

    .button.button-small:disabled {
        background-color: #999;
    }

    button.button-centered {
        display: block;
        margin: 15px auto;
    }

    a {
        text-decoration: underline;
    }

    abbr {
        border-bottom: 1px dashed black;
    }

    p {
        font-style: italic;
    }
}
