<div class="sl-account">
  <div ng-if="!canAccess">
    <div class="info-error">Impossible de modifier votre compte lors d'une session groupée.</div>
  </div>

  <div ng-if="canAccess">
    <h2>Mettre à jour mon compte</h2>
    <div ng-if="updated" class="info-success">Votre compte a bien été mis à jour.</div>

    <form>
      <div class="form-group">
        <h3>Informations principales</h3>
        <div class="form-item">
          <input type="text"
            ng-model="userForm.prenom"
            name="prenom"
            ng-class="{error: errors('prenom')}"
            ng-disabled="true"
            disabled="true">
        </div>

        <div class="form-item">
          <input type="text"
            ng-model="userForm.nom"
            name="nom"
            ng-class="{error: errors('nom')}"
            ng-disabled="true"
            disabled="true">
        </div>

        <div class="form-item">
          <input type="text"
            ng-model="userForm.structure"
            name="structure"
            placeholder="Etablissement non renseigné"
            ng-disabled="true"
            disabled="true">
        </div>

        <div class="form-item">
          <input type="text"
            ng-model="userForm.classe"
            name="classe"
            placeholder="Classe non renseignée"
            ng-disabled="true"
            disabled="true">
        </div>
      </div>

      <hr />
      <div class="form-group">
        <h3>Préférences</h3>
        <div
          class="form-item"
          ng-if="!isSSOAccount()"
          ng-class="{error: errors('mail')}">
          <input type="text"
            ng-model="userForm.mail"
            name="mail"
            ng-required
            ng-class="{error: errors('mail')}"
            ng-blur="mailUpdated = true"
            ng-change="resetError()"
            novalidate
            placeholder="Votre mail">
          <div class="form-error">{{errors('mail')}}</div>
          <div class="form-error" ng-if="mailUpdated && !checkEmail()">Email invalide</div>
          <div class="form-description" ng-if="newMailNotValidated">
            Cette adresse n'est pas encore confirmée, veuillez vérifier votre boîte électronique et suivre les instructions du mél reçu.
          </div>
        </div>

        <div
          class="form-item"
          ng-class="{error: errors('bilanWithSymbols')}">
          <label>
            <input type="checkbox"
              ng-model="userForm.bilanWithSymbols"
              name="bilanWithSymbols"
              ng-class="{error: errors('bilanWithSymbols')}""> Afficher les bilans avec des symboles plutôt que des couleurs
          </label>
        </div>
      </div>

      <hr />
      <div class="form-group" ng-if="!isSSOAccount()">
        <h3>Nouveau mot de passe (facultatif)</h3>
        <div
          class="form-item"
          ng-class="{error: errors('password')}">
          <input type="password"
            ng-model="userForm.password"
            name="password"
            ng-required
            ng-class="{error: errors('password')}"
            ng-blur="passwordUpdated = true"
            ng-change="resetError()"
            novalidate
            placeholder="Votre nouveau mot de passe">
          <div class="form-error">{{errors('password')}}</div>
        </div>

        <div
          class="form-item"
          ng-class="{error: errors('passwordBis')}">
          <input type="password"
            ng-model="userForm.passwordBis"
            name="passwordBis"
            ng-class="{error: errors('passwordBis')}"
            novalidate
            ng-required
            ng-blur="passwordBisUpdated = true"
            ng-change="resetError()"
            placeholder="Votre nouveau mot de passe une nouvelle fois">
          <div class="form-error">{{errors('passwordBis')}}</div>
          <div class="form-error" ng-if="passwordUpdated && passwordBisUpdated && userForm.password.length && !checkPassword()">Vos mots de passe ne concordent pas</div>
        </div>

        <h3>Validation</h3>
        <div
          class="form-item"
          ng-class="{error: errors('passwordCurrent')}">
          <input type="password"
            ng-model="userForm.passwordCurrent"
            name="passwordCurrent"
            ng-class="{error: errors('passwordCurrent')}"
            novalidate
            ng-required
            ng-blur="passwordCurrentUpdated = true"
            placeholder="Votre mot de passe actuel">
          <div class="form-error">{{errors('passwordCurrent')}}</div>
          <div class="form-error" ng-if="passwordCurrentUpdated && !userForm.passwordCurrent">Le mot de passe ne doit pas être vide</div>
        </div>
      </div>
    </form>

    <div class="buttons">
      <button class="button button-small button-calm"
        ng-click="doUpdate()"
        ng-disabled="!isFormValid()">
          Mettre à jour mon profil
      </button>
    </div>

    <hr />
    <p>
      Labomep version {{version}}<br/>
      <br/>
      Numéro de déclaration CNIL : {{numeroCNIL}}<br/>
      <br/>
      {{appName}} est basé sur
      <a href="https://git.sesamath.net/sesamath/sesalab" target="_blank">Sésalab</a>
      et <a href="https://git.sesamath.net/sesamath/sesatheque" target="_blank">Sésathèque</a>,
      deux logiciels libres sous licence <abbr title="Affero General Public License">AGPL</abbr> (<a href="https://www.gnu.org/licenses/agpl-3.0.html" target="_blank">détails</a>)
      conçus par <a href="https://www.sesamath.net" target="_blank">Sésamath</a>,
      réalisés par <a href="https://www.sesamath.net" target="_blank">Sésamath</a>,
        <a href="https://arnumeral.fr/" target="_blank">Arnuméral</a>
        et <a href="https://thetribe.io/" target="_blank">TheTribe</a>.<br/>
    </p>
  </div>
</div>
