<!DOCTYPE html>
<html
   lang="fr" itemscope itemtype="http://schema.org/Article"
   ng-app="sesalab-gestion" ng-controller="HomeController" ng-cloak ng-strict-di>
<head>
  <title><%= htmlWebpackPlugin.options.title %> gestion</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <script type="text/javascript" src="app.js?<%= htmlWebpackPlugin.options.version %>"></script>
  <link type="text/css" rel="stylesheet" media="all" href="app.css?<%= htmlWebpackPlugin.options.version %>" />
  <link type="text/css" rel="stylesheet" media="all" href="style.css?<%= htmlWebpackPlugin.options.version %>" />
</head>
<body>
  <div id="home">
    <div class="sl-header">
      <div class="app">
        <span class="title"><%= htmlWebpackPlugin.options.title %> - gestion</span>
      </div>
      <div class="info">
        <span><span class="utilisateur">{{utilisateur.prenom}} {{utilisateur.nom}}</span></span>
        <a ng-click="doDisplayHelp()" title="Aide"><i class="ion-help" aria-hidden="true"></i></a>
      </div>
      <div class="tools">
        <a ng-click="doLogout()">Quitter</a>
      </div>
    </div>

    <div id="wrapper">
      <nav>
        <ul>
          <!-- La gestion des messages a été débranchée le 23/01/2018 (commit d51e5fd61a3878b4b21e47cfb859420dc2b64dff),
               car c'était vraiment goinfre en perfs et n'avait jamais servi
               (c'était à disposition des académies et mis dans les conventions, mais elles ne l'ont jamais utilisé)
          <li>Messages d'accueil
            <ul>
              <li ui-sref="messages">Liste</li>
            </ul>
          </li> -->
          <li>Statistiques
              <ul>
                <li ui-sref="stats-general" ng-class="{ active: includes('stats-general') }">Générales</li>
                <li ui-sref="stats-structures" ng-class="{ active: includes('stats-structures') }">Par établissement sur une période</li>
                <li ui-sref="stats-ent" ng-class="{ active: includes('stats-ent') }">Cumul par établissement</li>
                <li ui-sref="stats-hebdo" ng-class="{ active: includes('stats-hebdo') }">Cumul par semaine</li>
              </ul>
          </li>
        </ul>
      </nav>
      <div id="notification"></div>
      <div id="loader">⟳</div>
      <div class="content" ui-view></div>
    </div>
  </div>
</body>
</html>
