$headerHeight: 50px;

#home {
  .sl-header {
    padding: 0 20px;
    background-image: linear-gradient(to bottom, #FFFFFF 0%, #E5E5FF 100%);
    background-clip: padding-box;
    border-bottom: 5px solid #FCA95D;
    box-shadow: #E16400 0px -1px inset;
    min-height: $headerHeight;
    line-height: $headerHeight;
    font-size: 22px;
    color: #252525;
    display: flex;
    .app {
      flex: 1;
      align-items: center;
      display: flex;
    }
    .info {
      line-height: ($headerHeight - 5px);
      font-size: 13px;
      margin: 0 10px 0 0;
      .utilisateur {
        &:after {
          content: ' / ';
        }
        &:last-child {
          &:after {
            content: '';
          }
        }
      }
      a {
        float: right;
        cursor: pointer;
        margin-top: 13px;
        margin-left: 10px;
        i {
          font-size: 18px;
        }
      }
    }
    .tools {
      a {
        line-height: ($headerHeight - 5px);
        color: #252525;
        cursor: pointer;
      }
    }
  }

  #wrapper {
    position: absolute;
    top: $headerHeight;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;

    .content {
      position: relative;
      margin-left: 230px;
      padding: 20px;
      h1 {
        font-size: 14pt;
        padding-bottom: 7px;
        border-bottom: 1px dotted #999;
      }
      h2 {
        font-size: 10pt;
        font-weight: bold;
        margin-top: 20px;
      }
      label {
        font-weight: bold;
      }
      p {
        padding: 20px 0;
        font-size: 9.5pt;
      }
    }

    nav {
      position: absolute;
      top: 0;
      bottom: 0;
      width: 230px;
      margin-right: 10px;
      padding: 10px;
      font-size: 9.5pt;
      font-family: Arial;
      border-right: 2px solid #eee;
    }

    nav > ul > li {
      padding: 9px 5px;
      font-weight: bold;
    }

    nav > ul > li > ul > li {
      font-weight: normal;
      padding: 8px 10px;
      transition: padding 0.1s ease-in;
      cursor: pointer;

      &:hover {
        color: #3366FF;
        background-color: #F5FCFF;
        padding-left: 15px;
      }

      &.active {
        color: #3366FF;
        background-color: rgb(197, 226, 238);
        padding-left: 15px;
      }
    }

    nav > ul > li > ul:first-child {
      padding-top: 10px;
    }
  }
}

.notification {
  width: 500px;
  height: 40px;
  position: absolute;
  left: 50%;
  margin-left: -250px;
  text-align: center;
  padding: 15px;
  z-index: 10;
  color: #00529B;
  border: 1px solid #00529B;
  background-color: #BDE5F8;
  font-family: Verdana;
  opacity: 0;
  transition: background-color 0.2s linear, color 0.2s linear, opacity 0.2s ease-in;

  &.show {
    opacity: 1;
  }
  &.hide {
    opacity: 0;
  }
  &.success {
    color: #4F8A10;
    background-color: #DFF2BF;
    border: 1px solid #4F8A10;
  }
  &.error {
    color: #D8000C;
    background-color: #FFBABA;
    border: 1px solid #D8000C;
  }
}

#loader {
  animation: rotating 1s linear infinite;
  position: absolute;
  top: 10px;
  right: 30px;
  font-size: 24pt;
  height: 24px;
  color: #00529B;
  opacity: 0;
  transition: opacity 0.2s linear;

  &.show {
    opacity: 1;
  }
}

@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

