<div class="sl-closed-bilan">
  <div class="selectSequence">
    <div class="description">
      Cette page recense les séquences qui ne sont plus réalisables.<br/>
      Les bilans des exercices faits restent cependant toujours accessibles.
    </div>

    <label for="inactiveSelect">Choisissez une séquence pour afficher le bilan :</label><br>
    <select id="inactiveSelect" ng-model="selectedSequenceId" ng-change="selectedSeance = { sequenceOid : selectedSequenceId }" >
      <option ng-repeat="seance in inactives" value="{{seance.sequenceOid}}">
        {{seance.nom}} (dernier accès : {{seance.dernierVisionnage | date:'dd/MM/yyyy à HH:mm'}})
      </option>
    </select>
  </div>
  <sl-bilan seance="selectedSeance"></sl-bilan>
</div>
