<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <meta http-equiv="X-UA-Compatible" content="IE=EDGE"/>
    <meta charset="utf-8" />
    <meta name="robots" content="noodp"/>
    <meta http-equiv="Content-Security-Policy" content="frame-src 'self' blob: <%= htmlWebpackPlugin.options.cspDomains %>; child-src 'self' <%= htmlWebpackPlugin.options.cspDomains %>;">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <link type="text/css" media="all" rel="stylesheet" href="style.css?<%= htmlWebpackPlugin.options.version %>"/>
  </head>
  <body>
    <script type="text/javascript">
      window.sesathequeBaseUrl = '<%= htmlWebpackPlugin.options.sesathequeBaseUrl %>'
    </script>
    <script type="text/javascript" src="loader.js?<%= htmlWebpackPlugin.options.version %>"> </script>
    <script type="text/javascript" src="qooxdoo.js?<%= htmlWebpackPlugin.options.version %>"> </script>
    <script type="text/javascript" src="app.js?<%= htmlWebpackPlugin.options.version %>"> </script>
    <script type="text/javascript">
      qx.$$loader.init();
    </script>
  </body>
</html>
