<div class="sl-account">
    <div ng-show="!isAlone">
        <p class="warning">L'un des utilisateurs présents dans cette session n'a pas encore modifié son mot de passe.<br />
            Merci de le modifier (en se connectant à ce compte seulement) avant de pouvoir continuer.</p>
    </div>
    <form ng-show="isAlone">
        <p>Pour continuer, vous devez mettre à jour votre mot de passe.</p>
        <div
            class="form-item"
            ng-class="{error: errors('password')}">
            <input type="password"
                ng-model="password"
                name="password"
                ng-required
                ng-class="{error: errors('password')}"
                ng-blur="passwordUpdated = true"
                novalidate
                placeholder="Votre nouveau mot de passe">
        </div>

        <div
            class="form-item"
            ng-class="{error: errors('passwordBis')}">
            <input type="password"
                ng-model="passwordBis"
                name="passwordBis"
                ng-class="{error: errors('passwordBis')}"
                novalidate
                ng-required
                ng-keydown="onKeydown()"
                placeholder="Votre nouveau mot de passe une nouvelle fois">
            <div class="form-error" ng-if="passwordUpdated && passwordBisUpdated && !isPasswordValid()">Vos mots de passe ne concordent pas</div>
        </div>

        <div class="buttons">
            <button class="button button-small button-calm button-centered"
                ng-click="onSubmit()"
                ng-disabled="!isFormValid()">
                Mettre à jour mon mot de passe
            </button>
        </div>
    </form>
</div>
