@import "../../../../styles/_gm.scss";
@import "../../../../../../sesalab-home/source/styles/mixins.scss";

#formateur-bilan-liste {
  .help {
    height: 40px;
    padding-top: 10px;
    position: absolute;
    right: 0;
    width: 40px;
    z-index: 10;
    a {
      cursor: pointer;
      .circle {
        background-color: #228ADE;
        border: 1px solid #228ADE;
        border-radius: 50%;
        float: right;
        height: 18px;
        text-align: center;
        width: 18px;
        i {
          color: #FFFFFF;
          font-size: 16px;
        }
      }
    }
  }
  .tabs { @include gmTabSelector }
  select { @include gmSelect; }
  .actions {
    a {
      @include gmLinkButton
    }
    .refresh-button {
      display: inline-block;
    }
  }
  .filters {
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-items: center;
    .filter {
      margin: 0 20px 0 0;
      padding-top: 0.6em;
      label {
        font-weight: bold;
        padding: 0 5px 0 0;
      }
    }
  }
}

#bilan-list {
  .eleve {
    margin: 0 0 20px 0;
    h2 {
      font-size: 16px;
      margin: 10px 0 5px 0;
      border-bottom: 1px solid black(0.05);
      line-height: 24px;
      padding: 0 10px;
    }
    .info {
      padding: 10px;
    }
    table {
      width: 100%;
      tr {
        border-bottom: 1px solid #EBE2F3;
        td {
          padding: 6px 6px;

          &.index {
            font-weight: bold;
          }
        }
        .titre a {
          color: #3D72C9;
        }
        .titre a:hover, .titre a:focus {
          color: #3D72C9;
          cursor: pointer;
        }
      }
      &.mode-table {
        th {
          font-weight: bold;
          background-color: #F4F4F4;
          padding: 10px 0;
          border-right: 1px solid black(0.1);
          border-bottom: 1px solid black(0.1);
          &:last-child{
            border: none;
          }
        }
        tr {
          border-bottom: none;
          td {
            border-right: 1px solid black(0.1);
            border-bottom: 1px solid black(0.1);
            &:last-child{
              border: none;
            }
            &.red {
              background-color: #D38E8E;
            }
            &.green {
              background-color: #7DCE7D;
            }
            &:first-child {
              background-color: #F4F4F4;
            }
          }
        }
      }
    }
  }
}
