<div id="formateur-bilan-liste">
  <div class="help unprintable">
    <a ng-click="doDisplayHelp()" title="Aide"><div class="circle"><i class="ion-help" aria-hidden="true"></i></div></a>
  </div>

  <div ng-if="isBilanSequence" class="tabs unprintable">
    <a class="tab active" href="#">liste</a>
    <a class="tab" ng-click="doSelectTab()">table</a>
  </div>

  <div class="tools unprintable">
    <div class="filters">
      <div class="filter" ng-repeat="filter in filters" ng-if="isFilterEnabled(filter)">
        <label>{{filter.label}}</label>
        <select ng-model="filter.current" ng-options="item.name for item in filter.stores" ng-change="filterChange(filter)"></select>
      </div>
    </div>
    <div ng-if="isBilanSequence" class="filters">
      <input class="filter" type="checkbox" ng-if="isBilanSequence" ng-model="elevesDeLaSequenceOnly.value">
        Afficher seulement les élèves encore présent dans la séquence
      </input>
    </div>
    <div ng-if="isBilanSequence" class="filters">
      <input class="filter" type="checkbox" ng-model="elevesFilteredByDate.value">
      Ne pas afficher les élèves avec aucun résultat vérifiant le filtre "Dates" ci-dessus
      </input>
    </div>
    <div class="actions">
      <a ng-href="{{exportUrl}}">Exporter</a>
      <a ng-click="print()">Imprimer</a>
      <refresh-button refresh="refresh"></refresh-button>
    </div>
  </div>

  <div id="bilan-list">
    <div class="info">* signale le meilleur score de l'élève pour cet exercice</div>
    <div class="eleve" ng-repeat="liste in listesFiltered = (listes | filter:eleveFilter)">
      <h2>{{liste.eleve}}</h2>
      <div class="info" ng-if="liste.rows.length===0 && liste.$eleve.hasParticipated">Aucun résultat</div>
      <div class="info" ng-if="liste.rows.length===0 && !liste.$eleve.hasParticipated">N'a pas participé</div>
      <table>
        <tr ng-repeat="row in liste.rows | filter:rowFilter">
          <td class="index">{{row.index}} <span ng-if="row.isBest">*</span></td>
          <td
            ng-if="row.hasMoreThanOneParticipant"
            class="tooltip tooltip-right"
            data-tooltip-texte="{{row.participants}}"
          >
            <i class="ion-ios-people" aria-hidden="true"></i>
          </td>
          <td
            ng-if="!row.hasMoreThanOneParticipant"
          >
          </td>
          <td class="titre">
            <span ng-if="autonomiePourEleve"><a ng-click="linkToRessource(row)">{{row.title}}</a></span>
            <span>{{row.title}}</span>
          </td>
          <td class="score" ng-bind-html="row.score"></td>
          <td class="reponse">
            <span raw-html="row.reponse"></span>
            <a class="button-link" ng-if="row.fullResponse" ng-click="doShowFullResponse(row)">Détail</a>
          </td>
          <td class="date">{{row.date}}</td>
          <td class="duree">{{row.duree}}</td>
          <td class="essai">{{row.essai}}</td>
        </tr>
      </table>
    </div>
    <div class="eleve" ng-hide="listesFiltered.length">
      <h2>Aucun élève ne satisfait ces critères</h2>
    </div>
  </div>
</div>
