<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Navigateur trop vieux</title>
</head>
<p>Désolé, ce navigateur ne permet pas d'utiliser Labomep.<br />
  <ul>Vous pouvez utiliser
    <li><a href="https://www.mozilla.org/fr/firefox/">Firefox</a></li>
    <li><a href="https://www.google.com/chrome/browser/desktop/index.html">Chrome</a></li>
    <li><a href="https://www.microsoft.com/fr-fr/windows/microsoft-edge">Microsoft Edge (Windows 10)</a></li>
    <li><a href="https://www.apple.com/fr/safari/">Safari (MacOs ou iOS)</a></li>
    <li>Et beaucoup d'autres navigateurs de moins de quelques années, tous ceux de <a href="https://caniuse.com/#feat=es5" target="_blank">cette liste</a> devrait fonctionner.</li>
  </ul>

Si vous obtenez ce message alors que ce navigateur fonctionne d'habitude avec labomep, cela peut-être parce que la bibliothèque principale <a href="<%= htmlWebpackPlugin.options.bibliBaseUrl %>" target="_blank"><%= htmlWebpackPlugin.options.bibliBaseUrl %></a> ne répond pas (cela devrait n'être que passager, reéssayer de rafraîchir la <a href="/">page d’accueil</a> dans quelques minutes).
</p>
</body>
</html>
