<section>
  <div ng-if="!newPassword">
    <p>Vous avez récemment demandé la réinitialisation de votre mot de passe.<br>
    Confirmer la réinitialisation de celui-ci ?</p>
    <button type="button" ng-click="confirmPasswordReset('{userId}', '{token}')">Réinitialiser mon mot de passe</button>
  </div>
  <div ng-if="newPassword">
    <p>Votre nouveau mot de passe est <strong>[[newPassword]]</strong>.<br><br>
    Pour vous connecter, cliquez sur <a ng-href="[[link]]">ce lien</a>.<br>
    Une fois connecté, vous pourrez le changer depuis votre profil.</p>
  </div>
</section>
