<h1>
  Cumul des connexions élève via ENT, par établissement
  <span class="description" data-description="Connexions de l’année via un ENT, par établissement.">
    <i class="ion-information-circled" aria-hidden="true"></i>
  </span>
</h1>

<div id="errorMessage" class="error" ng-if="errorMessage">{{errorMessage}}</div>

<div id="stats-ent" class="stats" ng-if="isSuccess">
  <export-button exportUrl="exportUrl"></export-button>
  <p>Période du {{stats.infos.startJour}} au {{stats.infos.endJour}}</p>
  <div class="departement" ng-repeat="(departement, rows) in stats.tables">
    <h2>{{departement}}</h2>
      <div class="stat">
        <table class="mode-table">
          <tr>
            <th ng-repeat="header in stats.headers" ng-class="{ 'text-left': $index < 2 }">{{header}}</th>
          </tr>
          <tr ng-repeat="row in rows">
            <td ng-repeat="value in row" ng-class="{ 'text-left': $index < 2, 'text-right': isInteger(value) }">{{ format(value) }}</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
