<h1>
  Statistiques générales
  <span class="description" data-description="Récapitulatif des établissements avec des utilisateurs, connectés dans les {{lastDays}} derniers jours, et utilisant un connecteur, par type d'établissement.">
    <i class="ion-information-circled" aria-hidden="true"></i>
  </span>
</h1>

<div id="errorMessage" class="error" ng-if="errorMessage">{{errorMessage}}</div>

<div id="stats-general" class="stats" ng-if="isSuccess">
  <export-button exportUrl="exportUrl"></export-button>
  <div class="stat">
    <div class="departement" ng-repeat="(departement, rows) in stats.tables">
      <h2>{{departement}}</h2>
      <table class="mode-table">
        <tr>
          <th ng-repeat="header in stats.headers">{{header}}</th>
        </tr>
        <tr ng-repeat="row in rows">
          <td ng-class="{ 'grey': value === 0, 'text-right': isInteger(value) }" ng-repeat="value in row">{{ format(value) }}</td>
        </tr>
      </table>
    </div>
  </div>
</div>
