<h1>
  Cumul des connexions élève par semaine (depuis le {{stats.infos.startJour}})
  <span class="description" data-description="Nombre de connexions élève par semaine">
    <i class="ion-information-circled" aria-hidden="true"></i>
  </span>
</h1>

<div id="errorMessage" class="error" ng-if="errorMessage">{{errorMessage}}</div>

<div id="stats-hebdo" class="stats" ng-if="isSuccess">
  <export-button exportUrl="exportUrl"></export-button>
  <p>Période du {{stats.infos.startJour}} au {{stats.infos.endJour}}</p>
  <div class="stat">
    <table class="mode-table">
      <tr>
        <th ng-repeat="header in stats.headers">{{header}}</th>
      </tr>
      <tr ng-repeat="row in stats.rows">
        <td ng-class="{ 'grey': value === 0, 'text-right': isInteger(value) }" ng-repeat="value in row" >{{ format(value) }}</td>
      </tr>
    </table>
  </div>
</div>
