<h1>
  Statistiques par établissement sur une période
  <span class="description" data-description="Connexions par établissement pour la période. Les établissements n'ayant aucune connexion via l’ENT sur la période sont comptés avec les « Hors ENT ».">
    <i class="ion-information-circled" aria-hidden="true"></i>
  </span>
</h1>

<div id="errorMessage" class="error" ng-if="errorMessage">{{errorMessage}}</div>

<div id="stats-structures" class="stats">
  <fieldset class="period">
    <div class="period-description">Choix de la période pour le nombre de connexions</div>
    <form>
      <label for="start-date">Date de début :</label>
      <input type="date" id="start-date" ng-model="periodForm.startDate" ng-class="{error: errors('startDate')}" required>
      <div class="form-error">{{errors('startDate')}}</div>

      <label for="end-date">Date de fin :</label>
      <input type="date" id="end-date" ng-model="periodForm.endDate" ng-class="{error: errors('endDate')}" required>
      <div class="form-error">{{errors('endDate')}}</div>

      <button type="button" ng-click="refreshStructure()">Actualiser</button>
    </form>
  </fieldset>

  <div ng-if="isSuccess">
    <export-button exportUrl="exportUrl"></export-button>
    <p>Statistiques par établissement du {{stats.infos.startJour}} au {{stats.infos.endJour}}<br>
      ("Professeurs" et "Élèves" correspondent aux comptes existants aujourd’hui, cela pouvait être différent sur la période considérée)</p>
    <div class="stat">
      <table class="mode-table">
        <tr>
          <th ng-repeat="header in stats.headers" ng-class="{ 'text-left': $first }">{{header}}</th>
        </tr>
        <tr ng-repeat="row in stats.rows">
          <td ng-repeat="value in row" ng-class="{ 'text-left': $first, 'text-right': isInteger(value) }">{{ format(value) }}</td>
        </tr>
      </table>
    </div>
  </div>
</div>
