.description {
  cursor: help;
}

.description:hover:before {
  background-color: black;
  opacity: 0.7;
  color: white;
  font-size: 14px;
  text-align: center;
  border: 1px rgba(0, 0, 0, 0.1) solid;
  border-radius: 10px;
  display: block;
  position: absolute;
  padding: 10px;
  width: 400px;
  z-index: 50;
  content: attr(data-description);
  -webkit-transition: opacity .250s ease-in-out;
  transition: opacity .250s ease-in-out;
  pointer-events: none;
}

.error {
  color: #a00;
  background-color: #fed;
  font-size: 1.2em;
}
div.error {
  padding: 1em;
  width: 80%;
  margin: 1em auto;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right !important;
  padding-right: 10px !important;
}

.stats {
  margin-top: 20px;
  .stat {
    margin: 20px 0;
    table {
      width: 100%;
      tr {
        border-bottom: 1px solid #EBE2F3;
        td {
          padding: 6px 6px;
          vertical-align: middle;

          &.index {
            font-weight: bold;
          }
        }
      }
      &.mode-table {
        text-align: center;
        th {
          font-weight: bold;
          background-color: #F4F4F4;
          padding: 10px 5px;
          min-width: 100px;
          border-right: 1px solid black(0.1);
          border-bottom: 1px solid black(0.1);
        }
        tr {
          td {
            border-right: 1px solid black(0.1);
            border-bottom: 1px solid black(0.1);
          }
        }
      }
    }
  }
}

#stats-general {
  .departement {
    h2 {
      font-size: 16px;
    }
    table {
      margin-bottom: 20px;
      &.mode-table {
        th:first-child {
          background-color: #FFFFFF;
        }
        tr {
          td:first-child {
            font-weight: bold;
            background-color: #F4F4F4;
          }
          td {
            &.grey {
              background-color: #F4F4F4;
            }
          }
        }
      }
    }
  }
}

#stats-structures {
  fieldset {
    border: 1px solid #ccc;
    padding: 15px;
    
    button {
      border: 1px solid hsla(218, 88%, 60%, 1);
      padding: 7px 30px;
      background-color: hsla(218, 88%, 60%, 0.17);
      color: hsla(218, 11%, 52%, 1);
    }
  }

  .period {
    margin-bottom: 20px;
    .period-description {
      font-size: 14px;
      font-weight: bold;
      margin-bottom: 10px;
    }
    form {
      label {
        display: inline;
      }
      input:not(:last-child) {
        margin-right: 20px;
      }
      .form-error {
        color: red;
        padding-top: 5px;
      }
    }
  }
}

#stats-ent {
  .departement {
    margin: 20px 0;
    h2 {
      font-size: 16px;
      margin-bottom: 10px;
    }
    .ville {
      h3 {
        font-size: 14px;
        margin: 0 0 10px 20px;
      }
      .structure {
        margin: 0 0 10px 40px;
      }
    }
  }
}
