@import "../../../../styles/_gm.scss";
@import "../../../../../../sesalab-home/source/styles/mixins.scss";

#formateur-bilan-table {
  .help {
    height: 40px;
    padding-top: 10px;
    position: absolute;
    right: 0;
    width: 40px;
    z-index: 10;
    a {
      cursor: pointer;
      .circle {
        background-color: #228ADE;
        border: 1px solid #228ADE;
        border-radius: 50%;
        float: right;
        height: 18px;
        text-align: center;
        width: 18px;
        i {
          color: #FFFFFF;
          font-size: 16px;
        }
      }
    }
  }
  .tabs { @include gmTabSelector }
  select { @include gmSelect; }
  .filters {
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-items: center;
    .filter {
      margin: 0 20px 0 0;
      padding-top: 0.6em;
      label {
        font-weight: bold;
        padding: 0 5px 0 0;
      }
    }
  }
  .actions {
    a {
      @include gmLinkButton
    }
    display: flex;
    .refresh-button {
      margin-top: 5px;
    }
    .cursor {
      margin: 0 0 20px 20px;
      label span {
        font-weight: bold;
      }
      input {
        display: block;
      }
    }
  }
}

#bilan-table {
  .eleve {
    margin: 0 0 20px 0;
    h2 {
      font-size: 16px;
      margin: 10px 0 5px 0;
      border-bottom: 1px solid black(0.05);
      background-color: #DCBBF2;
      background-image: linear-gradient(to top, white(0.2), white(0));
      line-height: 24px;
      padding: 0 10px;
    }
    .info {
      background-color: #F9F4D9;
      padding: 10px;
    }
    table {
      width: 100%;
      tr {
        border-bottom: 1px solid #EBE2F3;
        td, th {
          padding: 6px 6px;

          &.index {
            font-weight: bold;
          }
        }
      }
      &.mode-table {
        text-align: center;
        th {
          font-weight: bold;
          background-color: #F4F4F4;
          padding: 10px 6px;
          border-right: 1px solid black(0.1);
          border-bottom: 1px solid black(0.1);
        }
        tr {
          td.lastOfSousSequence, th.lastOfSousSequence {
            border-right: 3px solid black(0.5);
          }
          td {
            border-right: 1px solid black(0.1);
            border-bottom: 1px solid black(0.1);
            &.red {
              background-color: #D38E8E;
            }
            &.green {
              background-color: #7DCE7D;
            }
            &.bold {
              font-weight: bold;
            }
            &:first-child {
              background-color: #F4F4F4;
            }
            .essais {
              text-wrap: nowrap;
            }
          }
        }
      }
    }
  }
}
