<div id="formateur-bilan-table">
  <div class="help unprintable">
    <a ng-click="doDisplayHelp()" title="Aide"><div class="circle"><i class="ion-help" aria-hidden="true"></i></div></a>
  </div>

  <div class="tabs unprintable">
    <a class="tab" ng-click="doSelectTab()">liste</a>
    <a class="tab active">table</a>
  </div>

  <div class="tools unprintable">
    <div class="filters">
      <div class="filter" ng-repeat="filter in filters" ng-if="isFilterEnabled(filter)">
        <label>{{filter.label}}</label>
        <select ng-model="filter.current" ng-options="item.name for item in filter.stores" ng-change="filterChange(filter)">
        </select>
      </div>
    </div>
    <div class="filters">
      <input class="filter" type="checkbox" ng-model="moyenneWithFinishedOnly.value">
      Ne compter que les résultats des exercices terminés dans la moyenne
      </input>
    </div>
    <div class="filters">
      <input class="filter" type="checkbox" ng-model="elevesFilteredByDate.value">
      Ne pas afficher les élèves avec aucun résultat vérifiant le filtre "Dates" ci-dessus
      </input>
    </div>
  </div>

  <div class="actions unprintable">
    <a ng-click="exportToFile()">Exporter</a>
    <a ng-click="print()">Imprimer</a>
    <refresh-button refresh="refresh"></refresh-button>
    <div class="cursor">
      <label for="slide">Limite de réussite : <span>{{limitReussite}}</span> %</label>
      <input type="range" id="slide" value="70" min="0" max="100" step="1" ng-model="limitReussite">
    </div>
  </div>

  <div id="bilan-table">
    <div class="eleve">
      <table class="mode-table">
        <tbody ng-repeat="row in elevesFiltered = (table.rows | filter:eleveFilter)">
          <tr ng-if="$index % 15 === 0">
            <!-- Track by is used to show header even if exercices have the same title -->
            <th ng-class="{
                lastOfSousSequence: header.isLastOfSousSequence
              }" ng-repeat="header in table.header track by $index">{{header.titre}}</th>
          </tr>
          <tr>
            <td ng-class="withSymbols ? {
                bold: isCellSuccess(cell),
                lastOfSousSequence: cell.isLastOfSousSequence
              } : {
                green: isCellSuccess(cell),
                red: isCellFailure(cell),
                white: isCellEmpty(cell),
                lastOfSousSequence: cell.isLastOfSousSequence
              }" ng-repeat="cell in row" >
              <span>{{getCellValue(cell)}}</span>
              <span ng-if="isEssaiDisplayed(cell)" class="essais">({{cell.essai}})</span>
              <span ng-if="cell.hasMoreThanOneParticipant" class="tooltip tooltip-center" data-tooltip-texte="{{cell.participants}}">
                <i class="ion-ios-people" aria-hidden="true"></i>
              </span>
            </td>
          </tr>
        </tbody>
        <tbody ng-hide="elevesFiltered.length">
          <tr><td>Aucun élève ne satisfait ces critères</td></tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
