@import "../../../styles/_gm.scss";
@import "../../../../../sesalab-home/source/styles/mixins.scss";

$default-color: hsl(15, 42%, 97%);

.sl-seance {
  border-left: 4px solid transparent;

  .seance-icon {
    width: 12px;
  }

  .header {
    transition: margin-right 0.2s ease;
    font-size: 15px;
    padding: 6px 6px;
    color: hsla(0, 0%, 25%, 1);
    display: flex;
    border-left: 4px solid transparent;
    padding-right: 10px;

    .description {
      flex: 1;
      line-height: 20px;
      cursor: pointer;

      .info {
        color: grey;
        font-size: 10px;
        padding-top: 2px;
      }
    }
    .toDate {
      color: #999;
      font-size: 8pt;
      float: right;
      margin-top: 3px;
    }
    .tools {
      padding: 0 0 0 10px;
      width: 50px;
      text-align: right;
      a {
        padding: 0 0 0 4px;
        cursor: pointer;
        &.disabled {
          cursor: default;
          i {
            opacity: 0.4;
          }
        }

        i {
          &:before {
            font-size: 20px;
          }
        }
      }
    }
  }

  &:hover {
    background-color: $default-color;
  }

  &.open {
    border-left: 4px solid darken($default-color, 20%);
    background-color: $default-color;

    .header  {
      color: #373737;
      font-size: 15px;
      padding: 6px 6px;
    }

    .description {
      font-weight: bold;
    }
  }
  .body {
    max-height: 10000px;
    overflow: hidden;
    .message {
      background-color: rgba(#F9F7B1, 0.5);
      border: 1px solid black(0.05);
      border-left: none;
      border-right: none;
      margin: 5px 0;
      padding: 10px;
      font-style: italic;
    }
    .stop {
      @include gmLinkButton();
    }
    .ressource {
      display: flex;
      padding: 5px 5px 5px 0;
      $height: 22px;
      align-items: center;
      cursor: pointer;
      .order {
        width: $height;
        min-width: $height;
        max-width: $height;
        height: $height;
        display: block;
        background-color: white;
        border-radius: 0 50% 50% 0;
        border-right: none;
        line-height: $height;
        text-align: center;
        margin: 0 5px 0 0;
        box-shadow: 0 1px 5px black(0.2);
        color: #393939;
        position: relative;
        left: -3px;
        transition: left .2s ease, text-indent .2s ease;
      }

      &:hover {
        background-color: darken($default-color, 3%);
      }

      &:hover .order {
        left: 0;
      }

      img {
        margin: 0 5px 0 0;
        width: 16px;
        height: 16px;
      }
      .infos {
        padding-left: 4px;
        flex: 1;
        .titre {
          font-size: 14px;
          display: flex;
          align-items: center;
          color: #292929;
        }
        .info {
          display: block;
          font-size: 10px;
          color: #777777;
        }
        .alert {
          color: #B50000;
          font-weight: bold;
        }
      }

      &.disabled {
        opacity: 0.4;
      }

      &.current {
        background-color: darken($default-color, 5%);
        opacity: 1;
      }

    } // ressource
  } // seance.body

  &.disabled {
    .header {
      background-color: #ECECEC;
      color: #B7B7B7;
    }
  }
}
