<div
  class="sl-seance"
  ng-class="{
    open         : open,
    prioritaire  : !!seance.prioritaire,
    disabled     : seance.isDisabled(),
    ordered      : seance.type!==0,
    skipDisabled : skipDisabled,
    started      : isSeanceStarted()
  }">

  <div class="header">
    <div class="description" ng-click="onOpen()">
      {{seance.nom}}
      <img ng-if="seance.prioritaire" class="seance-icon" src="/eleve/images/high_priority.png" title="Séquence prioritaire">

      <img ng-if="delayMessage" class="seance-icon" src="/eleve/images/clock.png" title="Séquence avec une date limite">
      <span ng-if="delayMessage" class="toDate">{{delayMessage}}</span>

      <img ng-if="deadDelayMessage" class="seance-icon" src="/eleve/images/expired.png" title="Séquence expirée">
      <span ng-if="deadDelayMessage" class="toDate">{{deadDelayMessage}}</span>

      <img ng-if="seance.inactive" class="seance-icon" src="/eleve/images/cancel.png" title="Séquence Inactive">
      <span ng-if="seance.inactive" class="toDate">Séquence inactive</span>

      <div class="info" ng-if="seance.dernierVisionnage">
        Dernier accès : {{seance.dernierVisionnage | date:'dd/MM/yyyy à HH:mm'}}
      </div>
    </div>
    <div class="tools">
      <a
        class="bilan"
        ng-click="doShowBilan(seance)"
        ng-class="running ? 'disabled' : ''"
        ng-if="!isFormateur"
      >
        <i class="ion ion-stats-bars"></i>
      </a>
    </div>
  </div>

  <div class="body" ng-if="open">
    <div class="message" ng-if="!!seance.message.length">{{seance.message}}</div>
    <div class="ressource"
      ng-click="doStart(seance, ressource)"
      ng-class="{
        disabled: ressource.isDisabled() && !isFormateur,
        current: ressource.isCurrent()
      }"
      ng-repeat="ressource in seance.getExercices()"
      ng-if="ressource.type != 'error'">
      <span class="order">{{ressource.index}}</span>
      <img ng-src="{{ressource.getImage()}}">
      <div class="infos">
        <div class="titre">{{ressource.titre}}</div>
        <div class="info">
          Essais : {{ressource.getNbVisionnages()}}
          <span ng-if="ressource.withMaximumVisionnage()" ng-class="{alert: !ressource.getNbVisionnagesRestant()}">
            restant : {{ressource.getNbVisionnagesRestant()}}
          </span>
        </div>
        <div class="info">
          Réussite : {{ressource.getReussite()}}
          <span ng-if="ressource.withMinimumReussite()" ng-class="{alert: !ressource.getSuccessEnough()}">
            nécessaire : {{ressource.minimumReussite}}%
          </span>
        </div>
      </div>
    </div>
    <div ng-if="seance.isStarted() && !skipDisabled">
      <div class="stop" ng-click="seance.stop()">Terminer la séquence</div>
    </div>
  </div>
</div>
