<h1>Message d'accueil</h1>
<p>Le message ci-dessous apparait sur l'interface des formateurs de votre académie.<br><br>
<span class="date" ng-show="date">Dernière mise à jour le <strong>{{ date | date:'dd/MM/yyyy' }}</strong></span>
</p>

<form>
  <label for="start-date">Date de début :</label>
  <input id="start-date" ng-model="startDate" type="date" required><br>

  <label for="end-date">Date de fin :</label>
  <input id="end-date" ng-model="endDate" type="date" required><br>

  <div class="warning" ng-if="isPastDate()">
  	Attention, la date de fin choisie est antérieure à la date actuelle : le message sera archivé et ne sera plus modifiable.
  </div>

  <label for="title">Titre :</label>
  <input id="title" ng-model="title" type="text" placeholder="Titre de votre article" required><br>

  <label for="message">Message :</label><br>
  <trix-editor id="message" class="message-content" angular-trix ng-model="content" required></trix-editor>

  <button ng-click="save()" class="submit">{{ isNew ? 'Créer le message' : 'Mettre à jour' }}</button>
</form>
