<h1>Messages</h1>
<p>Gérer les messages présents sur la page d'accueil des formateurs présents dans vos départements.</p>

<div class="messages">
  <button ui-sref="message-edit({oid: 'new' })" class="create">Créer un nouveau message</button>
  <h2>Messages actifs</h2>
  <table>
    <thead>
      <tr>
        <th>Titre</th>
        <th>Date de début</th>
        <th>Date de fin</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="message in messages">
        <td>{{ message.title }}</td>
        <td>{{ message.startDate | date : 'dd/MM/yyyy' }}</td>
        <td>{{ message.endDate | date : 'dd/MM/yyyy' }}</td>
        <td>
          <a ui-sref="message({oid: message.oid })">Voir</a> - 
          <a ui-sref="message-edit({oid: message.oid })">Éditer</a> - 
          <a ng-click="removeMessage(message.oid)">Supprimer</a>
        </td>
      </tr>
      <tr ng-show="!messages.length">
        <td colspan="4">Pas de message pour le moment</td>
      </tr>
    </tbody>
  </table>

  <div ng-show="oldMessages.length">
    <h2>Messages archivés</h2>
    <table>
      <thead>
        <tr>
          <th>Titre</th>
          <th>Date de début</th>
          <th>Date de fin</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="message in oldMessages">
          <td>{{ message.title }}</td>
          <td>{{ message.startDate | date : 'dd/MM/yyyy' }}</td>
          <td>{{ message.endDate | date : 'dd/MM/yyyy' }}</td>
          <td><a href="#" ui-sref="message({oid: message.oid })">Voir</a></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
