<h1>Visualiser un message</h1>
<p>Cette interface vous permet de visualiser un message.</p>

<div class="show-message">
  <div class="message">
    <h2>{{ title }}</h2>
    <div id="message-content" ng-bind-html="content"></div>
  </div>

  <button ng-click="copy()" class="copy">Copier dans un nouveau message</button>
</div>
