#message {
  strong {
    font-weight: bold;
  }
  em {
    font-style: italic;
  }
  a {
    text-decoration: underline;
    color: blue;
  }
  h1 {
    border: 0;
    padding: 0;
  }
  blockquote {
    border-left: 3px solid grey;
    padding-left: 5px;
  }
  ol {
    list-style-type: decimal;
    padding-left: 15px;

    li {
      list-style-type: decimal;
    }
  }
  ul {
    list-style-type: circle;
    padding-left: 15px;

    li {
      list-style-type: circle;
    }
  }
}

.show-message {
  .message {
    margin: 10px;
    padding: 10px;
    border: 1px dashed #bbb;

    h2 {
      border-bottom: 1px solid black !important;
      margin-bottom: 20px !important;
      padding-bottom: 15px !important;
      font-size: 15pt !important;
    }
  }

  .copy {
    color: #00529B;
    background-color: #BDE5F8;
    border: 1px solid #00529B;
    padding: 10px 15px;
    font-weight: bold;
    margin: 5px 0;
    display: block;
    width: 250px;
    cursor: pointer;
    transition: background-color 0.1s ease-in;
    margin: 0 auto;
  }
}

#home #wrapper .content #message-content, #home #wrapper .content #message {
  h1 { 
    font-size: 1.6em !important;
    margin: 0.5em 10% !important;
    padding: calc(3px + 0.5em) 2em 0.5em 2em !important;
    text-align: center;
    font-weight: bold;
    color: #0d3d67;
    border: 0;
  }

  ol, ul, li {
    margin: 0.5em 0.5em 0.5em 1em;
  }

  ol li {
    line-height: 130%;
    list-style-type: number;
  }

  ul li {
    line-height: 130%;
    list-style-type: disc;
  }

  strong {
    font-weight: bold;
  }
}

.messages {
  a {
    cursor: pointer;
  }

  table {
    margin-top: 10px;
    border: 1px solid #eee;

    tr {
      font-weight: bold;
    }

    th {
      border-bottom: 1px solid #eee;
      background-color: #eee;
      color: #333;
    }

    th, td {
      text-align: left;
      padding: 10px;
      min-width: 200px;
    }

    td {
      font-weight: normal;

      a {
        &:hover {
          text-decoration: underline;
          color: #3366FF;
        }
      }
    }
  }
}

button.create {
  border: 1px solid #93FF6B;
  background: #E5FFEB;
  padding: 10px 15px;
  color: #00B82B;
  font-weight: bold;
  margin: 5px 0;
  display: block;
  width: 180px;
  cursor: pointer;
  transition: background-color 0.1s ease-in;
}

form {
  width: 100%;
  label {
    display: block;
  }
  textarea {
    width: 100%;
    min-height: 250px;
    padding: 5px;
    line-height: 170%;
    font-family: "Verdana";
  }
  .warning {
    color: #9F6000;
    background-color: #FEEFB3;
    padding: 10px;
    margin: 5px 0 20px 0;
  }
  .message-content {
    padding: 5px;
    font-size: 10pt;
    min-height: 250px;
  }
  input[type=date], input[type=text] {
    padding: 5px;
    margin-bottom: 10px;
  }
  input[type=text] {
    width: 400px;
  }
  button.submit {
    border: 1px solid #6B93FF;
    background: #E5ECFF;
    padding: 10px 15px;
    color: #6B93FF;
    font-weight: bold;
    margin: 5px auto;
    display: block;
    width: 180px;
    cursor: pointer;
    transition: background-color 0.1s ease-in;
    &:hover {
      color: #386DFF;
      background-color: #CCDAFF;
    }
    &:active {
      color: white;
      background-color: #99B4FF;
    }
    &.success {
      border-color: #6BFF8E;
      background: #E5FFEB;
      color: #00BD2C;
    }
  }
}
