<!-- Ce fichier est utilisé pour remplir la home de Sesalab -->
<div class="bloc">
  <p>Quelques fonctions sont encore à réaliser, mais cette version
    permet déjà une utilisation pleine en classe.</p>
  <p>Vous pouvez bien sûr continuer à utiliser
    <a href="http://www.labomep.net" data-mce-href="http://www.labomep.net">l'ancienne version</a>,
    éventuellement en parallèle (cette version vous permet
    d'importer vos élèves, séances et ressources). Nous comptons sur
    vos retours (menu de votre profil) en conditions réelles pour
    vous proposer une version complète en septembre 2017, et ainsi
    pouvoir programmer l'arrêt de la version 1.</p>
</div>

<div class="bloc">
  <h2>Les nouveautés</h2>
  <ul>
    <li><strong>Ouvert à tous</strong>
      <ul>
        <li>tout le monde peut se créer un compte formateur (mais
          seuls les enseignants ayant un compte Sésamath pourront
          accéder aux corrections).</li>
        <li>tout le monde peut créer une structure, pour permettre des
          usages hors des établissements scolaires (associations et
          toute structure hors « éducation institutionnelle »).</li>
        <li>Si c'est autorisé dans les préférences de l'établissement,
          les élèves peuvent demander eux-même la création d'un
          compte.</li>
      </ul>
    </li>
    <li>Comme les ressources, les <strong>séquences</strong>, peuvent
      désormais être <strong>partagées</strong> (et plus seulement
      les bilans).</li>
    <li>La création ou l'<strong>édition de ressources interactive j3p</strong>
      est nettement améliorée.</li>
    <li>Vous pouvez créer des <strong>groupes de collègues</strong>
      (pas nécessairement dans le même établissement) et y partager
      ressources et séquences.</li>
    <li>Un <strong>même élève peut être dans plusieurs sous-séquences</strong>,
      ce qui permet de paramétrer beaucoup plus finement le
      déroulement de la séquence (par exemple avec une première série
      de 3 exercices à faire dans l'ordre (sous séquence ordonnée)
      puis d'autres ensuite (une autre sous-séquence libre)). Le
      paramètrage des séquences est également plus facile et plus
      clair.</li>
    <li>L'import des comptes est toujours possible par SIECLE et
      tableur, il est désormais aussi possible depuis ONDE (pour le
      primaire).<br>
    </li>
    <li>et finalement mais ce n'est pas le moindre de nos objectifs,
      le développement de cette version rend possible la véritable
      <a href="https://github.com/sesamath/sesalab" target="_blank">ouverture
        et diffusion du code</a>, en accord avec la philosophie de Sésamath.</li>
  </ul>

  <h2>Les changements</h2>
  <ul>
    <li>Les anciennes séances sont renommées séquences, le concept
      reste quasi identique mais elles sont plus souples (partage
      possible entre collègues ou entre établissements).</li>
    <li>La notion de « composant Labomep » disparait maintenant que
      l'on peut combiner toutes les ressources dans un graphe J3P.</li>
    <li>Les ressources <strong>Mathgraph32</strong> peuvent être
      créées directement (sans passer par un composant).</li>
    <li><strong>La connexion est plus simple</strong>, à la fois pour le professeur
      mais surtout pour <strong>l'élève</strong>, puisqu'il n'a
      plus besoin de choisir son département et son établissement.</li>
    <li>L'accès au mot de passe des élèves n'est plus possible. Même
      si cela facilitait la vie de nombreux enseignants (au primaire
      mais pas seulement), ce n'était pas très compatible avec
      l'éducation à l'identité numérique (ni avec la protection des
      données personnelles). L'enseignant pourra toujours
      réinitialiser le mot de passe d'un élève mais ce dernier pourra
      (et devrait) le changer.</li>
  </ul>

  <h2>Ce qui n'existe pas encore dans cette version, mais qui va
    venir…</h2>
  <ul>
    <li>Les connecteurs ENT.</li>
    <li>Les contenus personnels de type « composant labomep ».</li>
    <li>Les contenus de type « tests diagnostiques ».</li>
    <li>Les contenus de type « Tracenpoche », « Calculatice » et
      «Instrumenpoche ».</li>
    <li>L'aide qui reste à adapter (mais qui sera sous forme de wiki,
      et à laquelle tous les formateurs pourront participer).</li>
  </ul>
</div>
