/* ça va importer les polices utilisées par sesalab-formateur/source/client/classes/theme/Font.js */
@import "../../../sesalab-home/source/styles/_home";

/*
Ce `<div class="main">` est à priori dans _private/content/homeInfo.inc.html
On surcharge juste ça (déjà défini dans l'import précédent) pour l'onglet de la page d'accueil formateur
*/
#main {
  font-size: 1em;
}

/*
@todo harmoniser entre #main et .home
 */
.home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  /* pas glob car ça part sous le header si y'a pas assez de place
  position: absolute;
  top: 3em;
  bottom: 0;
  left: 0;
  right: 0; */
  /* On remet ça que reset a cassé, pour pas toucher aux scss angular */
}

.home p, .home li {
  line-height: 130%;
}

.home p {
  margin: 0.5em 0.3em;
}

.home ol, .home ul, .home li {
  margin: 0.5em 0.5em 0.5em 1em;
}

.home li {
  list-style-type: disc;
}

.home li ul li {
  list-style-type: circle;
}

.home strong {
  font-weight: bold;
}

.home a {
  color: #1D65B3;
}

.home a:hover {
  text-decoration: underline;
}

.home h1, .home h2, .home h3, .home h4 {
  color: #0d3d67;
}

.home h2 {
  font-size: 1.4em;
  margin: 0.5em 10%;
  text-align: center;
}

.loader {
  background: url(../assets/images/loading22.gif) center center no-repeat;
}

/* Il est difficile de faire une rotation avec Qooxdoo sans utiliser leur module de transformation, on passe par du CSS classique */
.rotate-90 {
  transform: rotateZ(90deg)
}

/* les boutons ayant le focus se voient vraiment pas, mais ce qui suit sert à rien car le style est copié dans l'attribut… * /
.qx-button-box-focused {
  border-bottom-width: 2px;
} /* */
