@import "../../../../../sesalab-home/source/styles/mixins.scss";
@import "../../../styles/_gm.scss";

@keyframes scaleOut {
  from { transform: scale(1); opacity: 1; }
  to { transform: scale(0.8); opacity: 0; }
}

@keyframes superScaleIn {
  from { transform: scale(1.2); opacity: 0; }
  to { transform: scale(1); opacity: 1; }
}



.an-curtain.active {
  @include fill-all;
  background-color: black(0.4);
  position: fixed;
}
.an-popup {
  pointer-events: auto;
  position: fixed;
  top:100px;
  z-index:100;
  display: none;
  .close {
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
    &:before {
      content: "\f129";
      font-family: "ionicons";
      color: #484848;
      font-size: 20px;
    }
  }
  &.active {
    display: block;
    animation-name: superScaleIn;
    animation-duration: 0.2s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: both;
  }

  &.inactive {
    display: block;
    animation-name: scaleOut;
    animation-duration: 0.2s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: both;
  }


  border-radius: 2px;
  box-shadow: 0 0 10px black(0.8);

  background-color: white;
  transition: opacity 0.2s ease;
  padding: 5px;
  @include on(desktop) { width: 60%; }
  @include on(tablet) { width: 80%; }
  @include on(phone) { width: 90%; }

  >.title {
    padding: 17px 24px 17px 24px;
    text-align:left;
    border: none;
    line-height: 120%;
    font-size: 20px;
    font-weight: 500;
  }

  >.content {
    padding: 0 24px;
    @include on(phone) { padding: 0 8px; }
    overflow: hidden;
  }

  >.buttons {
    position: absolute;
    left: 0;
    right: 0;
    margin: 10px 0 0 0;
    padding: 8px;
    display: flex;
    .button {
      @include gmLinkButton();
    }
  }
  >.options {
    bottom: 52px;
    justify-content: flex-start;
  }
  >.main {
    bottom: 0;
    justify-content: flex-end;
  }
}
