<div class="an-popup" ng-style="style">
  <div class="close" ng-if="closeable" ng-click="doClosePopup()"></div>
  <div class="title" ng-if="title">{{title}}</div>
  <div class="content"></div>
  <div class="buttons options" ng-if="optionalButtons.length">
    <a class="button" ng-repeat="optionalButton in optionalButtons" ng-click="processButton(optionalButton)">
      {{optionalButton.caption}}
    </a>
  </div>
  <div class="buttons main" ng-if="buttons.length">
    <a class="button {{button.type}}" ng-repeat="button in buttons" ng-click="processButton(button)">
      {{button.caption}}
    </a>
  </div>
</div>
